    <div ng-controller="AdminCtrl">

      <h2 class="ui header" translate>
        admin+title
      </h2>

      <div class="ui top attached tabular menu">
        <a class="item" ng-click="adm.selectTab('general')" ng-class="{'general': 'active'}[adm.tab]" translate>admin+general</a>
        <a class="item" ng-click="adm.selectTab('platforms')" ng-class="{'platforms': 'active'}[adm.tab]">
          {{ 'admin+platforms' | translate }}
          <i class="icon" ng-class="{'refresh': 'loading', 'uptodate': 'green ok sign', 'outdated': 'red attention', 'error': 'question'}[adm.platforms.status]"></i>
        </a>
        <a class="item" ng-click="adm.selectTab('users')" ng-class="{'users': 'active'}[adm.tab]" translate>admin+users</a>
      </div>

      <div class="ui bottom attached active tab segment" ng-switch on="adm.tab">

        <div ng-switch-when="general" ng-controller="AdminGeneralCtrl">
          <h4 class="ui header" translate>admin+software</h4>

          <p><strong translate>admin+current_version</strong> : {{ adm.soft.currentVersion }}</p>

          <select ng-model="adm.soft.referenceVersion" ng-change="adm.refreshStatus('software')">
            <option value="stable" ng-selected="adm.soft.referenceVersion == 'stable'" translate>admin+stable_version</option>
            <option value="latest" ng-selected="adm.soft.referenceVersion == 'latest'" translate>admin+beta_version</option>
          </select>

          <div ng-switch="adm.software.status" style="display: inline-block">
            <div ng-switch-when="uptodate" ng-click="adm.updateSoftWare()" class="ui small green button" translate>admin+uptodate</div>
            <div ng-switch-when="upward" ng-click="adm.updateSoftWare()" class="ui small teal button" translate>admin+upward</div>
            <div ng-switch-when="outdated" ng-click="adm.updateSoftware()" class="ui small animated orange fade button">
              <div class="visible content" translate>admin+updates_available</div>
              <div class="hidden content" translate>
                admin+update
              </div>
            </div>
            <div ng-switch-when="refresh" class="ui small loading button" translate>admin+updating</div>
            <div ng-switch-default ng-click="adm.updateSoftware()" class="ui small red button" translate>admin+unknown_state</div>
          </div>

          <p ng-show="adm.soft.updating" translate>admin+updating_software</p>
          <div class="ui icon small info message" ng-show="adm.software.status == 'upward'">
            <p translate>admin+soft_upward_stable</p>
          </div>
          <div class="ui icon small info message" ng-show="adm.software['local-commits'] || adm.software['local-changes']">
            <i class="exclamation icon"></i>
            <div class="content">
              <div class="header" translate>admin+attention</div>
              <p translate>admin+soft_local_changes</p>
              <p translate>admin+contact_deployment_service</p>
            </div>
          </div>
        </div>

        <div ng-switch-when="platforms"  ng-controller="AdminPlatformsCtrl">
          <h4 class="ui header" translate>admin+updates</h4>

          <div ng-switch="adm.platforms.status">
            <div ng-switch-when="uptodate" ng-click="adm.updatePlatforms()" class="ui small green button" translate>admin+uptodate</div>
            <div ng-switch-when="upward" ng-click="adm.updatePlatforms()" class="ui small teal button" translate>admin+upward</div>
            <div ng-switch-when="outdated" ng-click="adm.updatePlatforms()" class="ui small animated orange fade button" >
              <div class="visible content" translate>admin+updates_available</div>
              <div class="hidden content" translate>
                admin+update
              </div>
            </div>
            <div ng-switch-when="refresh" class="ui small loading button" translate>admin+updating</div>
            <div ng-switch-default ng-click="adm.updatePlatforms()" class="ui small red button" translate>admin+unknown_state</div>
          </div>

          <div class="ui icon small info message" ng-show="adm.platforms['local-commits'] || adm.platforms['local-changes']">
            <i class="exclamation icon"></i>
            <div class="content">
              <div class="header" translate>admin+attention</div>
              <p translate>admin+platforms_local_changes</p>
              <p translate>admin+contact_deployment_service</p>
            </div>
          </div>
        </div>

        <div ng-switch-when="users"  ng-controller="AdminUsersCtrl">
          <p ng-hide="adm.users || adm.getUsersError" class="center aligned"><i class="big loading icon"></i></p>
          <div ng-show="adm.getUsersError" class="ui error compact message" translate>admin+get_users_fail</div>
          <table ng-show="adm.users" class="ui basic collapsing table">
            <thead><tr>
              <th translate>admin+name</th>
              <th translate>admin+group</th>
              <th></th>
            </tr></thead>
            <tr ng-repeat="user in adm.users | orderBy:'name'">
              <td>{{ user.username }}</td>
              <td>{{ user.group }}</td>
              <td>
                <i class="red trash link icon" title="{{ 'admin+remove' | translate }}" ng-click="adm.deleteUser(user.username)"></i>
              </td>
            </tr>
            <tr><td colspan="3">
              <form ng-submit="adm.createUser()">
                <div class="ui mini input"><input type="text" placeholder="{{ 'admin+name' | translate }}" ng-model="adm.credentials.userid"></div>
                <div class="ui mini input"><input type="password" placeholder="{{ 'admin+password' | translate }}" ng-model="adm.credentials.password"></div>
                <button class="ui mini icon submit button"><i class="plus icon"></i></button>
              </form>
            </td></tr>
            <tr>
              <td colspan="3">
                <div class="ui error message" ng-show="adm.postUserError" ng-bind="adm.postUserError"></div>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
