    <div ng-controller="AdminCtrl">

      <h2 class="ui header" translate>
        admin+title
      </h2>

      <div class="ui top attached tabular menu">
        <a class="item" ng-click="adm.selectTab('platforms')" ng-class="{'platforms': 'active'}[adm.tab]">
          {{ 'admin+platforms' | translate }}
          <i class="icon" ng-hide="adm.platforms.refreshing" ng-class="{'uptodate': 'green ok sign', 'outdated': 'red attention', 'error': 'question'}[adm.platforms.git['from-head']]"></i>
          <i class="loading icon" ng-show="adm.platforms.refreshing"></i>
        </a>

        <a class="item" ng-click="adm.selectTab('users')" ng-class="{'users': 'active'}[adm.tab]" translate>admin+users</a>

        <a class="item" ng-click="adm.selectTab('system')" ng-class="{'system': 'active'}[adm.tab]">
          {{ 'admin+system' | translate }}
          <i class="red attention icon" ng-show="adm.software.outdated"></i>
        </a>
      </div>

      <div class="ui bottom attached active tab segment" ng-switch on="adm.tab">

        <div ng-switch-when="system" ng-controller="AdminSystemCtrl">
          <h4 class="ui header" translate>admin+software</h4>

          <p>
            <strong translate>admin+current_version</strong> : {{ adm.software.currentVersion }} <span ng-show="adm.software.currentVersion && adm.software.isBeta">(beta)</span><br>

            <span ng-show="adm.software.currentVersion && !adm.software.refreshing">
              <a ng-hide="adm.software.isBeta" ng-click="adm.updateSoftware('latest')" translate>admin+migrate_to_beta</a>
              <a ng-show="adm.software.isBeta" ng-click="adm.updateSoftware('stable')" translate>admin+back_to_stable</a>
            </span>
          </p>

          <div ng-show="adm.software.refreshing">
            <div class="ui small loading button" translate>admin+update</div>
          </div>

          <div ng-show="adm.software.errored">
            <div class="ui small red button" translate>admin+error</div>
          </div>

          <div ng-hide="adm.software.refreshing || adm.software.errored">
            <div ng-show="adm.software.outdated" popup="{{ 'admin+update_to_x' | translate:{ version: adm.software.latest } }}" data-position="right center" ng-click="adm.updateSoftware()" class="ui small orange button" translate>admin+update</div>

            <div ng-hide="adm.software.outdated" popup="{{ 'admin+ezpaarse_is_uptodate' | translate }}" data-position="right center" class="ui small disabled button" translate>admin+update</div>
          </div>

          <div ng-show="adm.software.updating">
            <p><span translate>admin+elapsed_time</span> : {{ adm.software.elapsed }}</p>
            <p translate>admin+updating_software</p>
            <div ng-show="adm.software.longUpdate" class="ui small message"><i class="warning icon"></i> {{ 'admin+long_update' | translate }}</div>
          </div>

          <div class="ui icon small info message" ng-show="adm.software.status == 'upward'">
            <p translate>admin+soft_upward_stable</p>
          </div>
          <div class="ui icon small info message" ng-show="adm.software.git['local-commits'] || adm.software.git['local-changes']">
            <i class="exclamation icon"></i>
            <div class="content">
              <div class="header" translate>admin+attention</div>
              <p translate>admin+soft_local_changes</p>
              <p translate>admin+contact_deployment_service</p>
            </div>
          </div>
        </div>

        <div ng-switch-when="platforms"  ng-controller="AdminPlatformsCtrl">
          <h4 class="ui header" translate>admin+updates</h4>


          <p>
            <strong translate>admin+current_version</strong> : {{ adm.platforms.currentVersion }}<br>
          </p>

          <div ng-show="adm.platforms.refreshing">
            <div class="ui small loading button" translate>admin+update</div>
          </div>

          <div ng-show="adm.platforms.errored">
            <div class="ui small red button" translate>admin+error</div>
          </div>

          <div ng-hide="adm.platforms.refreshing || adm.platforms.errored">
            <div ng-show="adm.platforms.outdated" popup="{{ 'admin+update_to_x' | translate:{ version: adm.platforms.git['head'] } }}" data-position="right center" ng-click="adm.updatePlatforms()" class="ui small orange button" translate>admin+update</div>

            <div ng-hide="adm.platforms.outdated" popup="{{ 'admin+platforms_are_uptodate' | translate }}" data-position="right center" class="ui small disabled button" translate>admin+update</div>
          </div>

          <div class="ui icon small info message" ng-show="adm.platforms['local-commits'] || adm.platforms['local-changes']">
            <i class="exclamation icon"></i>
            <div class="content">
              <div class="header" translate>admin+attention</div>
              <p translate>admin+platforms_local_changes</p>
              <p translate>admin+contact_deployment_service</p>
            </div>
          </div>

          <p class="center aligned" ng-show="adm.platforms.refreshingList"><i class="big loading icon"></i></p>
          <div class="ui error compact message" ng-show="adm.platforms.erroredList"><i class="attention icon"></i> {{ 'admin+get_platforms_fail' | translate }}</div>
          <div class="ui warning compact message" ng-show="adm.platforms.erroredChanges"><i class="attention icon"></i>{{ 'admin+get_outdated_fail' | translate }}</div>

          <div class="ui info message" ng-hide="adm.platforms.refreshingList || adm.platforms.brandNew.length == 0">
            <div class="ui small header" translate>admin+new_platforms_available</div>
            <p ng-bind="adm.platforms.brandNew | join:', '"></p>
          </div>

          <div class="ui top attached slightly padded segment" ng-hide="adm.platforms.refreshingList">
            <div class="ui small borderless left icon input">
              <input type="text" placeholder="{{ 'admin+search' | translate }}" ng-model="overallSearch">
              <i class="search icon"></i>
            </div>

            <div class="ui right floated vertical basic segment">
              <div class="ui checkbox">
                <input type="checkbox" id="only-outdated" ng-model="onlyOutdated">
                <label for="only-outdated" translate>admin+outdated_only</label>
              </div>
            </div>
          </div>

          <table class="ui bottom attached sortable segment table" ng-hide="adm.platforms.refreshingList">
            <thead><tr>
              <th ng-click="adm.sortBy('longname')" ng-class="{ '-longname': 'descending', '+longname': 'ascending' }[adm.platforms.sort]" translate>admin+platform</th>
              <th ng-click="adm.sortBy('status')" ng-class="{ '-status': 'descending', '+status': 'ascending' }[adm.platforms.sort]" translate>admin+status</th>
              <th ng-click="adm.sortBy('version')" ng-class="{ '-version': 'descending', '+version': 'ascending' }[adm.platforms.sort]" translate>admin+version</th>
              <th></th>
            </tr></thead>
            <tbody>
            <tr ng-repeat="manifest in adm.platforms.list | filter:overallSearch | filter:{ hasChanges: onlyOutdated || undefined } | orderBy:adm.platforms.sort" ng-class="{ warning: manifest.hasChanges }">
              <td><i ng-if="manifest.hasChanges" class="attention icon"></i> {{ manifest.longname }}</td>
              <td ng-bind="manifest.status"></td>
              <td ng-bind="manifest.version"></td>
              <td>
                <a ng-href="{{ manifest.docurl }}" translate>admin+analysis</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div ng-switch-when="users"  ng-controller="AdminUsersCtrl">
          <p ng-hide="adm.users || adm.getUsersError" class="center aligned"><i class="big loading icon"></i></p>
          <div ng-show="adm.getUsersError" class="ui error compact message" translate>admin+get_users_fail</div>
          <table ng-show="adm.users" class="ui basic collapsing table">
            <thead><tr>
              <th translate>admin+name</th>
              <th translate>admin+group</th>
              <th></th>
            </tr></thead>
            <tr ng-repeat="user in adm.users | orderBy:'name'">
              <td>{{ user.username }}</td>
              <td>{{ user.group }}</td>
              <td>
                <i class="red trash link icon" title="{{ 'admin+remove' | translate }}" ng-click="adm.deleteUser(user.username)"></i>
              </td>
            </tr>
            <tr><td colspan="3">
              <form ng-submit="adm.createUser()">
                <div class="ui mini input"><input type="text" placeholder="{{ 'admin+name' | translate }}" ng-model="adm.credentials.userid"></div>
                <div class="ui mini input"><input type="password" placeholder="{{ 'admin+password' | translate }}" ng-model="adm.credentials.password"></div>
                <button class="ui mini icon submit button"><i class="plus icon"></i></button>
              </form>
            </td></tr>
            <tr>
              <td colspan="3">
                <div class="ui error message" ng-show="adm.postUserError" ng-bind="adm.postUserError"></div>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
