    <div ng-controller="AdminCtrl">

      <h2 class="ui header">
        Administration
      </h2>

      <h3 class="ui dividing header">
        Dépôts
      </h3>

      <h3 class="ui dividing header">
        Utilisateurs
      </h3>

    </div>
