    <div ng-controller="AdminCtrl">

      <h2 class="ui header" translate>
        admin+title
      </h2>

      <h3 class="ui dividing header" translate>
        admin+updates
      </h3>

      <h4 class="ui header" translate>admin+software</h4>
      <div ng-switch="softwareStatus">
        <div ng-switch-when="uptodate" ng-click="updateSoftWare()" class="ui small green button" translate>admin+uptodate</div>
        <div ng-switch-when="outdated" ng-click="updateSoftware()" class="ui small animated orange fade button">
          <div class="visible content" translate>admin+updates_available</div>
          <div class="hidden content" translate>
            admin+update
          </div>
        </div>
        <div ng-switch-when="refresh" class="ui small loading button">loading</div>
        <div ng-switch-default ng-click="updateSoftware()" class="ui small red button" translate>admin+unknown_state</div>
      </div>

      <h4 class="ui header" translate>admin+platforms</h4>
      <div ng-switch="platformsStatus">
        <div ng-switch-when="uptodate" ng-click="updatePlatforms()" class="ui small green button" translate>admin+uptodate</div>
        <div ng-switch-when="outdated" ng-click="updatePlatforms()" class="ui small animated orange fade button" >
          <div class="visible content" translate>admin+updates_available</div>
          <div class="hidden content" translate>
            admin+update
          </div>
        </div>
        <div ng-switch-when="refresh" class="ui small loading button">loading</div>
        <div ng-switch-default ng-click="updatePlatforms()" class="ui small red button" translate>admin+unknown_state</div>
      </div>

      <h3 class="ui dividing header" translate>
        admin+users
      </h3>
      <p ng-hide="users || getUsersError" class="center aligned"><i class="big loading icon"></i></p>
      <div ng-show="getUsersError" class="ui error compact message" translate>admin+get_users_fail</div>
      <table ng-show="users" class="ui basic collapsing table">
        <thead><tr>
          <th translate>admin+name</th>
          <th translate>admin+group</th>
          <th></th>
        </tr></thead>
        <tr ng-repeat="user in users | orderBy:'name'">
          <td>{{ user.username }}</td>
          <td>{{ user.group }}</td>
          <td>
            <i class="red trash link icon" title="{{ 'admin+remove' | translate }}" ng-click="deleteUser(user.username)"></i>
          </td>
        </tr>
        <tr><td colspan="3">
          <form ng-submit="createUser()">
            <div class="ui mini input"><input type="text" placeholder="{{ 'admin+name' | translate }}" ng-model="credentials.userid"></div>
            <div class="ui mini input"><input type="password" placeholder="{{ 'admin+password' | translate }}" ng-model="credentials.password"></div>
            <button class="ui mini icon submit button"><i class="plus icon"></i></button>
          </form>
        </td></tr>
        <tr>
          <td colspan="3">
            <div class="ui error message" ng-show="postUserError" ng-bind="postUserError"></div>
          </td>
        </tr>
      </table>
    </div>
