  <div class="ui no-print blue feedback right attached icon button" ez-toggle-sidebar="#feedback-sidebar">
    <i class="comment icon"></i>
  </div>
  <sidebar id="feedback-sidebar" class="ui very wide feedback sidebar segment" ng-controller="FeedbackCtrl">
    <i class="big close link icon" ez-toggle-sidebar="#feedback-sidebar"></i>

    <div class="ui header">
      {{ 'feedback+title' | translate }}
      <div class="sub header" translate>feedback+subtitle</div>
    </div>

    <div class="ui small error message" ng-show="error" ng-bind="error"></div>
    <div class="ui small success icon message" ng-show="success">
      <i class="checkmark icon"></i>
      <div class="content">
        <div class="header">
          Feedback envoyé
        </div>
        <p>Merci pour vos retours !</p>
      </div>
    </div>

    <form name="feedbackForm" ng-submit="sendFeedback(feedbackForm.$valid)" class="ui form" novalidate>
      <div class="field" ng-class="{'error': feedbackForm.email.$invalid && !feedbackForm.email.$pristine, 'disabled': fb.mail}">
        <label translate>feedback+address</label>
        <div class="ui left labeled icon input">
          <input type="text" name="email" placeholder="{{ 'feedback+email' | translate }}" ng-model="fb.mail" ng-disabled="fb.mail" required>
          <i class="mail icon"></i>
          <div class="ui corner label"><i class="icon asterisk"></i></div>
        </div>
      </div>

      <div class="field" ng-class="{'error': feedbackForm.comment.$invalid && !feedbackForm.comment.$pristine}">
        <label translate>feedback+comment</label>
        <textarea name="comment" placeholder="{{ 'feedback+what_do_you_think' | translate }}" ng-model="fb.comment" required></textarea>
      </div>

      <div class="field">
        <label>Envoyer un rapport de traitement</label>
        <select ng-model="fb.jobID">
          <option value="">Non</option>
          <option value="{{ job.id }}" ng-repeat="job in request.history">Rapport du {{ job.date | date:"dd-MM-yyyy 'à' HH:mm" }}</option>
        </select>
      </div>

      <div class="field">
        <checkbox class="ui checkbox">
          <input id="send-browser" type="checkbox" ng-model="sendBrowser">
          <label for="send-browser">Envoyer la version de mon navigateur</label>
        </checkbox>
      </div>

      <button type="submit" class="ui fluid submit button" ng-class="{'loading': sending}" translate>feedback+send</button>
    </form>
  </sidebar>