  <sidebar context="body>.wrapper" id="feedback-sidebar" ng-if="feedbackAvailable" class="ui very wide feedback push sidebar segment" ng-controller="FeedbackCtrl">
    <i class="big close link icon" ez-toggle-sidebar="#feedback-sidebar"></i>

    <div class="ui header">
      {{ 'feedback+title' | translate }}
      <div class="sub header" translate>feedback+subtitle</div>
    </div>

    <div class="ui small error message" ng-show="error" translate>feedback+error</div>
    <div class="ui small success icon message" ng-show="success">
      <i class="checkmark icon"></i>
      <div class="content">
        <div class="header" translate>
          feedback+sent
        </div>
        <p translate>feedback+thanks</p>
      </div>
    </div>

    <p translate translate-values="{ recipients: feedbackRecipients }">feedback+recipients</p>
    <form name="feedbackForm" ng-submit="sendFeedback(feedbackForm.$valid)" class="ui form" novalidate>
      <div class="required field" ng-class="{'error': feedbackForm.email.$invalid && !feedbackForm.email.$pristine, 'disabled': fb.mail}">
        <label translate>feedback+address</label>
        <div class="ui left icon input">
          <input type="text" name="email" placeholder="{{ 'feedback+email' | translate }}" ng-model="fb.mail" ng-disabled="fb.mail" required>
          <i class="mail icon"></i>
        </div>
      </div>

      <div class="required field" ng-class="{'error': feedbackForm.comment.$invalid && !feedbackForm.comment.$pristine}">
        <label translate>feedback+comment</label>
        <textarea name="comment" placeholder="{{ 'feedback+what_do_you_think' | translate }}" ng-model="fb.comment" required></textarea>
      </div>

      <div class="field">
        <label translate>feedback+send_report</label>
        <select ng-model="fb.jobID">
          <option value="" translate>feedback+no</option>
          <option value="{{ job.id }}" ng-repeat="job in jobsHistory" translate translate-compile translate-values="{ date: job.date }" ng-selected="job.id == fb.jobID">feedback+report</option>
        </select>
      </div>

      <div class="field">
        <checkbox class="ui checkbox">
          <input id="send-browser" type="checkbox" ng-model="sendBrowser">
          <label for="send-browser" translate>feedback+send_browser</label>
        </checkbox>
      </div>

      <button type="submit" class="ui fluid submit button" ng-class="{'loading': sending}" translate>feedback+send</button>
    </form>
  </sidebar>