  <modal id="register-modal" class="ui segment small modal" ng-controller="RegisterCtrl">
    <div class="ui small error message" ng-show="error">
      <div class="header" translate>login+error</div>
      {{ error }}
    </div>

    <form name="registerForm" class="ui form" ng-submit="register(registerForm.$valid)" novalidate>
      <div class="ui inverted dimmer" ng-class="{true: 'active', false: 'disabled'}[loading]">
        <div class="ui text loader" translate>login+submitting</div>
      </div>

      <div class="field" ng-class="{'error': registerForm.userid.$invalid && !registerForm.userid.$pristine}">
        <label translate>login+identifier</label>
        <div class="ui left labeled icon input">
          <input type="text" name="userid" placeholder="{{ 'login+email' | translate }}" ng-model="formData.userid" ng-pattern="emailRegexp" required>
          <i class="user icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>
      <div class="field" ng-class="{'error': registerForm.password.$invalid && !registerForm.password.$pristine}">
        <label translate>login+password</label>
        <div class="ui left labeled icon input">
          <input type="password" name="password" ng-model="formData.password" required>
          <i class="lock icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>
      <div class="field" ng-class="{'error': registerForm.confirm.$invalid && !registerForm.confirm.$pristine}">
        <label translate>login+confirm</label>
        <div class="ui left labeled icon input">
          <input type="password" name="confirm" ng-model="formData.confirm" required>
          <i class="lock icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>

      <div class="field" ng-if="noUsers && feedbackAvailable">
        <div class="ui justified message segment">
          <p translate translate-values="{ recipients: feedbackRecipients }">login+inform_team_warning</p>

          <div class="ui checkbox">
            <input type="checkbox" id="inform-team" ng-model="formData.informTeam">
            <label for="inform-team" translate>login+inform_team</label>
          </div>
        </div>
      </div>

      <div class="ui two fluid buttons" mp-semantic>
        <button type="submit" class="ui green button" ng-disabled="registerForm.$invalid" ng-class="{false: 'disabled'}[registerForm.$valid]" translate>login+signup</button>
        <div class="or" data-text="ou"></div>
        <div ng-click="cancelForm()" class="ui button" translate>login+cancel</div>
      </div>
    </form> <!-- register-modal -->
  </modal>
