  <modal id="reset-modal" class="ui small modal" ng-controller="PasswordResetCtrl">

    <div class="ui segment">
      <div class="ui small warning message" ng-hide="feedbackAvailable" translate>login+reset_not_available</div>
      <div class="ui small success message" ng-show="success" translate>login+reset_success</div>

      <div class="ui small error message" ng-show="error" ng-switch="error">
        <div ng-switch-when="404" translate>login+user_not_found</div>
        <div ng-switch-default translate>login+an_error_occured</div>
      </div>

      <form name="resetForm" id="reset-form" class="ui form" ng-submit="resetPassword(resetForm.$valid)" novalidate>
        <div class="ui inverted dimmer" ng-class="{true: 'active', false: 'disabled'}[loading]">
          <div class="ui text loader" translate>login+submitting</div>
        </div>

        <div class="field" ng-class="{'error': resetForm.userid.$invalid && !resetForm.userid.$pristine}">
          <label translate>login+identifier</label>
          <div class="ui left labeled icon input">
            <input type="text" name="userid" placeholder="{{ 'login+email' | translate }}" ng-model="userid" ng-pattern="emailRegexp" required>
            <i class="user icon"></i>
            <div class="ui corner label"><i class="icon asterisk"></i></div>
          </div>
        </div>

        <div class="ui two fluid buttons" mp-semantic>
          <button type="submit" class="ui teal button" ng-disabled="resetForm.$invalid" ng-class="{true: 'disabled'}[resetForm.$invalid]" translate>login+reset</button>
          <div class="or" data-text="ou"></div>
          <button type="reset" class="ui close button" translate>login+cancel</button>
        </div>
      </form>
    </div>
  </modal> <!-- reset-modal -->