      <div class="ui two column grid">
        <div class="fifteen wide column">
          <div ng-hide="ss.predefined"><i class="large loading spinner icon"></i> {{ 'settings+loading_predefined' | translate }}</div>
          <div ng-show="ss.predefined">
            <select chosen ng-model="predefined" ng-change="ss.defineSettings(predefined)" data-placeholder="{{ 'settings+predefined_choice' | translate }}" no-results-text="'{{ 'settings+no_result_for' | translate }}'" allow-single-deselect="true" ng-options="key as (val.country + ' - ' + val.fullName) for (key, val) in ss.predefined">
              <option value=""></option>
            </select>
          </div>
        </div>

        <div class="right aligned one wide column">
          <i class="big help link icon" ng-class="{true: 'black', false: 'teal'}[showHelp]" ng-click="toggleHelp()"></i>
        </div>
      </div>

      <div class="ui teal dividing header" translate>settings+input</div>

      <div class="ui form">
        <div class="three fields">
          <div class="select field">
            <label translate>settings+log_type</label>
            <select ng-model="ss.settings.proxyType" ng-options="key as value for (key,value) in ss.selections.proxyTypes">
              <option value="" translate>settings+auto_recognition</option>
            </select>
            <div ng-show="showHelp" class="ui inverted teal bottom segment" translate>settings+log_type_help</div>
          </div>

          <div class="field">
            <label translate>settings+date_format</label>
            <input placeholder="DD/MMM/YYYY:HH:mm:ss Z" type="text" ng-model="ss.settings.headers['Date-Format']">
            <div ng-show="showHelp" class="ui inverted teal bottom segment" translate>settings+date_format_help</div>
          </div>

          <div class="field">
            <label translate>settings+default_parser</label>
            <input placeholder="dspace" type="text" ng-model="ss.settings.headers['Force-Parser']">
            <div ng-show="showHelp" class="ui inverted teal bottom segment" translate>settings+default_parser_help</div>
          </div>
        </div>

        <div class="field" ng-show="ss.settings.proxyType">
          <label translate>settings+log_format</label>
          <textarea placeholder="%h %u %t &quot;%r&quot; %s %b" type="text" ng-model="ss.settings.logFormat"></textarea>
          <div ng-show="showHelp" class="ui inverted teal bottom segment" translate translate-values="{ docURL: 'https://ezpaarse.readthedocs.io/en/latest/essential/formats.html' }" translate>settings+log_format_help</div>
        </div>
      </div>

      <div class="ui red dividing header" translate>settings+output</div>
      <div class="ui form">
        <div class="three fields">
          <div class="field">
            <label translate>settings+result_format</label>
            <select ng-model="ss.settings.headers['Accept']" ng-options="f.mime as f.type for f in ss.selections.resultFormats"></select>
            <div ng-show="showHelp" class="ui inverted red bottom segment" translate>settings+result_format_help</div>
          </div>

          <div class="field">
            <label translate>settings+system_traces</label>
            <select ng-model="ss.settings.headers['Traces-Level']" ng-options="t.level as t.desc for t in ss.selections.tracesLevels"></select>
            <div ng-show="showHelp" class="ui inverted red bottom segment" translate>settings+system_traces_help</div>
          </div>

          <div class="field">
            <label translate>settings+output_fields</label>
            <div class="two fields">
              <div class="field">
                <form ng-submit="addOutputField('plus')">
                  <div class="ui icon input">
                    <input type="text" placeholder="{{ 'settings+output_fields_add' | translate }}" ng-model="$parent.plusField">
                    <i class="plus link icon" ng-click="addOutputField('plus')"></i>
                  </div>
                </form>
              </div>

              <div class="field">
                <form ng-submit="addOutputField('minus')">
                  <div class="ui icon input">
                    <input type="text" placeholder="{{ 'settings+output_fields_remove' | translate }}" ng-model="$parent.minusField">
                    <i class="minus link icon" ng-click="addOutputField('minus')"></i>
                  </div>
                </form>
              </div>
            </div>

            <div class="inline-labels field">
              <div class="ui purple normalized label" ng-repeat="field in ss.settings.outputFields.minus track by $index">
                - {{ field }}
                <i class="delete icon" ng-click="ss.removeOutputField(field, 'minus')"></i>
              </div>

              <div class="ui orange normalized label" ng-repeat="field in ss.settings.outputFields.plus track by $index">
                + {{ field }}
                <i class="delete icon" ng-click="ss.removeOutputField(field, 'plus')"></i>
              </div>
            </div>

            <div ng-show="showHelp" class="ui inverted red segment" translate>settings+output_fields_help</div>
          </div>
        </div>

        <div class="three fields">
          <div class="field">
            <label translate>settings+notifications</label>
            <input placeholder="{{ 'settings+notification_mails' | translate }}" type="text" ng-model="ss.settings.notificationMails">
            <div ng-show="showHelp" class="ui inverted red bottom segment" translate>settings+notifications_help</div>
          </div>

          <div class="field">
            <label><span translate>settings+counter_reports</span> *</label>
            <div class="grouped fields">
              <div class="field">
                <div class="ui checkbox">
                  <input id="counter-JR1" type="checkbox" ng-model="ss.settings.counter.jr1">
                  <label for="counter-JR1">JR1</label>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <label translate>settings+crypted_fields</label>
            <div class="field">
              <form ng-submit="addCryptedField()">
                <div class="ui icon input">
                  <input type="text" placeholder="{{ 'settings+crypted_fields_add' | translate }}" ng-model="$parent.cryptedField">
                  <i class="plus link icon" ng-click="addCryptedField()"></i>
                </div>
              </form>
            </div>

            <div class="inline-labels field">
              <div class="ui blue normalized label" ng-repeat="field in ss.settings.cryptedFields track by $index">
                {{ field }}
                <i class="delete icon" ng-click="ss.removeCryptedField(field)"></i>
              </div>
            </div>

            <div ng-show="showHelp" class="ui inverted red segment" translate>settings+crypted_fields_help</div>
          </div>
        </div>

        <div class="field">
          * <i translate>settings+counter_warning</i>
        </div>
      </div>

      <div class="ui purple dividing header">
        {{ 'settings+headers' | translate }}
        <a target="_blank" href="http://ezpaarse.readthedocs.io/en/latest/configuration/parametres.html"><i class="purple info circle link icon"></i></a>
      </div>
      <div ng-show="showHelp" class="ui inverted purple segment" translate>settings+headers_help</div>

      <div class="ui form">
        <div class="fields">
          <div class="five wide field">
            <select ng-model="header" ng-options="header.name group by ('settings+' + header.category | translate) for header in ss.selections.headers">
              <option></option>
            </select>
          </div>
          <div class="field">
            <div ng-click="ss.addCustomHeader(header.name)" class="ui icon button"><i class="plus icon"></i></div>
            <a ng-show="header.anchor" ng-href="http://ezpaarse.readthedocs.io/en/latest/configuration/parametres.html#{{ header.anchor }}" target="_blank" class="ui blue icon button"><i class="info icon"></i></a>
          </div>
        </div>

        <div class="fields" ng-repeat="header in ss.settings.customHeaders">
          <div class="five wide field">
            <input type="text" placeholder="{{ 'settings+name' | translate}}" ng-model="ss.settings.customHeaders[$index].name">
          </div>
          <div class="ten wide field">
            <input type="text" placeholder="{{ 'settings+value' | translate }}" ng-model="ss.settings.customHeaders[$index].value">
          </div>
          <div class="field">
            <div class="ui icon button" ng-click="ss.removeCustomHeader($index)"><i class="red trash icon"></i></div>
          </div>
        </div>
      </div>

      <div class="ui right aligned basic segment">
        <div class="ui right labeled icon button" ng-click="ss.loadDefault()"><i class="repeat icon"></i> {{ 'settings+reset' | translate }}</div></p>
      </div>
