  <div ng-controller="FormCtrl">
    <h2 class="ui header" translate>form+title</h2>
    <div class="ui segment" translate translate-compile translate-values="{sidebarID: '#feedback-sidebar'}">form+description</div>

    <div class="ui top attached tabular menu">
      <a class="right item" ng-click="selectTab('settings')" ng-class="{'settings': 'active'}[inputType]"><i class="settings icon"></i> {{ 'form+settings' | translate }}</a>
      <a class="item" ng-click="selectTab('files')" ng-class="{'files': 'active'}[inputType]"><i class="open folder icon"></i> {{ 'form+logfiles' | translate }}</a>
      <a class="item" ng-click="selectTab('text')" ng-class="{'text': 'active'}[inputType]"><i class="text file icon"></i> {{ 'form+copy_paste' | translate }}</a>
    </div>
    <div class="ui bottom attached active tab segment" ng-switch on="inputType">
      <div ng-switch-when="files">
        <input type="file" style="display: none;" id="input-file" onchange="angular.element(this).scope().selectFiles(this)" multiple>
        <div class="ui checkbox">
          <input type="checkbox" id="autoSort" ng-model="inputs.autoSort" ng-change="inputs.sortFiles()">
          <label for="autoSort">{{ 'form+autosort' | translate }}</label>
        </div>

        <div class="ui dimmable dropzone segment" ez-file-drop="addFiles">
          <div class="ui dimmer">
            <div class="content"><div class="center">
              <div class="ui tiny icon header">
                <i class="download icon"></i>
                {{ 'form+drop_files_here' | translate }}
              </div>
            </div></div>
          </div>

          <p class="center aligned"><button class="ui small basic button" ez-trigger-click="#input-file">
            <i class="plus icon"></i>
            {{ 'form+click_to_add' | translate }}
          </button></p>

          <p><button ng-if="inputs.files.length" class="ui mini basic button" ng-click="inputs.clearFiles()">
            <i class="trash icon"></i>
            {{ 'form+clear_files' | translate }}
          </button></p>

          <table ng-if="inputs.files.length" class="ui small compact basic table">
            <thead><tr>
              <th class="twelve wide"translate>form+filename</th>
              <th class="four wide" translate>form+size</th>
            </tr></thead>
            <tbody>
              <tr ng-repeat="file in inputs.files">
                <td><i class="tiny delete link icon" ng-click="inputs.removeFile(file.name)"></i> {{ file.name }}</td>
                <td>{{ file.size | bytesToSize }}</td>
              </tr>
            </tbody>
            <tfoot><tr>
              <th translate translate-values="{ number: inputs.files.length }">form+n_selected_files</th>
              <th translate translate-compile translate-values="{ size: inputs.totalSize }">form+total_size</th>
            </tr></tfoot>
          </table>
        </div>

        <div class="ui center aligned basic segment">
          <div class="ui big buttons">
            <button ng-click="start()" class="ui teal button" translate>form+process_files</button>
            <button ng-click="getCurl()" class="ui icon teal button" popup data-variation="inverted" data-position="right center" title="{{ 'form+process_with_curl' | translate }}"><i class="copy small icon"></i></button>
          </div>
        </div>
      </div>

      <div ng-switch-when="text">
        <div class="ui form field">
          <label for="log-lines" translate>form+paste_your_logs</label>
          <textarea id="log-lines" ng-model="inputs.text"></textarea>
        </div>

        <div class="ui center aligned basic segment">
          <div class="ui big buttons">
            <button ng-click="start()" class="ui teal button" translate>form+process_lines</button>
            <button ng-click="getCurl()" class="ui icon teal button" popup data-variation="inverted" data-position="right center" title="{{ 'form+process_with_curl' | translate }}"><i class="copy small icon"></i></button>
          </div>
        </div>
      </div>

      <div ng-switch-when="settings">
        <% include form-settings %>
      </div>
    </div>
  </div>
