    <a href="https://github.com/ezpaarse-project/ezpaarse" target="_blank"><div class="ribbon">GitHub</div></a>

    <% include feedback %>

    <div class="wrapper pusher display-table">
      <div id="header" class="ui inverted teal basic segment display-row">
        <div class="inner">

          <div class="top-right">
            <i ng-show="castor.loading" class="large loading spinner icon"></i>

            <span ng-switch="castor.state">
              <div ng-switch-when="synchronizing" class="ui tiny inverted basic button"><i class="loading circle notched icon"></i> {{ 'castor+synchronizing' | translate:{remaining: castor.remaining.length} }}</div>
              <div ng-switch-when="synchronized" class="ui tiny inverted basic button" translate>castor+synchronized</div>
              <div ng-switch-when="error" class="ui tiny inverted basic button" translate>castor+error</div>
            </span>

            <a href="/process" class="ui tiny inverted basic button" ng-switch="request.state">
              <span ng-switch-default translate>state+idle</span>
              <span ng-switch-when="loading" translate translate-values="{ percent: request.progress }">state+loading</span>
              <span ng-switch-when="success" translate>state+success</span>
              <span ng-switch-when="error" translate>state+error</span>
              <span ng-switch-when="finalisation" translate>state+finalisation</span>
              <span ng-switch-when="aborted" translate>state+aborted</span>
            </a>

            <select id="language-selector" class="basic-select" ng-model="currentLanguage" ng-change="useLanguage(currentLanguage)">
              <option value="fr">Français</option>
              <option value="en">English</option>
            </select>
          </div>

          <div class="ui inverted teal menu">
            <a ng-if="auth.isAuthenticated()" href="/form" class="item" translate>menu+process_logs</a>
            <div class="ui simple dropdown item">
              {{ 'menu+documentation' | translate }} <i class="dropdown icon"></i>
              <div class="menu">
                <a href="https://ezpaarse.readthedocs.io/" target="_blank" class="item">ezPAARSE</a>
                <a href="http://analogist.couperin.org/" target="_blank" class="item">AnalogIST</a>
              </div>
            </div>
            <a href="/admin" class="item" ng-if="auth.isAuthenticated() && auth.hasAccess('admin')" translate>menu+admin</a>

            <div class="right menu">
              <div ng-if="auth.isAuthenticated()" class="ui item simple dropdown">
                <i class="user icon"></i> {{ auth.user.username }} <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="item" href="/profile"><i class="user icon"></i> {{ 'menu+profile' | translate }}</a>
                  <div class="item" ng-click="logout()"><i class="sign out icon"></i> {{ 'menu+logout' | translate }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="container" class="display-row">
        <div id="content">
          <div ng-if="disconnected" class="ui warning message">
            <i class="notched circle loading icon"></i>
            {{ 'layout+ezpaarse_offline' | translate }}
          </div>
          <div ng-if="castor.state == 'unavailable'" class="ui icon justify aligned warning message">
            <i class="warning sign icon"></i>
            <div class="content">
              {{ 'castor+unavailable' | translate }}
              <br><a href="http://ezpaarse.readthedocs.io/en/latest/start/requirements.html#mongodb" target="_blank" translate>castor+doc_install</a>
            </div>
          </div>

          <div ui-view></div>
        </div>
      </div>

      <div id="footer" class="ui inverted basic segment display-row">
        <div class="ui two column relaxed grid">
          <div class="ui column left aligned">
            <div>
              <p class="ui inverted medium header">ezPAARSE v{{ ezVersion }}</p>
              <p translate translate-values="links">footer+powered</p>
            </div>
          </div>
          <div class="ui column right aligned">
            <i class="big loading spinner icon" ng-show="feedbackLoading" popup data-variation="inverted" title="{{ 'feedback+checking_server' | translate }}"></i>
            <div class="ui tiny icon button" popup="{{ (feedbackAvailable ? 'feedback+give_us_opinion' : 'feedback+not_available') | translate }}" data-variation="inverted" ng-class="{ disabled: !feedbackAvailable }" ez-toggle-sidebar="#feedback-sidebar">
              <i class="comment icon"></i>
              {{ 'feedback+title' | translate }}
            </div>
            <a ng-href="mailto:{{ contact.mail }}" popup="{{ 'social+mail' | translate:contact }}" data-variation="inverted" class="ui tiny icon teal button"><i class="tiny mail icon"></i></a>
            <a ng-href="{{ contact.facebook }}" target="_blank" popup="{{ 'social+facebook' | translate }}" data-variation="inverted" class="ui tiny icon facebook button"><i class="tiny facebook icon"></i></a>
            <a ng-href="{{ contact.twitter }}" target="_blank" popup="{{ 'social+twitter' | translate }}" data-variation="inverted" class="ui tiny icon twitter button"><i class="tiny twitter icon"></i></a>
            <a ng-href="{{ contact.googleplus }}" target="_blank" popup="{{ 'social+googleplus' | translate }}" data-variation="inverted" class="ui tiny icon google plus button"><i class="tiny google plus icon"></i></a>
          </div>
        </div>
      </div>
    </div>
