 <div id="container">
    <div class="ui center aligned segment">
      <p><img src="/assets/img/logo.png"/></p>
      <div class="ui small buttons">
        <div id="login-button" class="ui teal button">Connectez-vous</div>
        <div class="or" data-text="ou"></div>
        <div id="register-button" class="ui button">Enregistrez-vous</div>
      </div>
      <p>Enregistrez-vous avant de pouvoir traiter vos logs, c'est simple et rapide.<br/>Vous pourrez ensuite suivre vos traitements et communiquer plus facilement avec l'équipe ezPAARSE.</p>
    </div>

    <div class="ui two column page grid">
      <div class="column">
        <div class="ui huge center aligned header">
          ezPAARSE, c'est...
        </div>
        <div class="ui justified segment">
          <p>Un <a href="https://github.com/ezpaarse-project/ezpaarse">logiciel libre</a> qui permet l’analyse, l’enrichissement et l’exploitation des logs d’accès aux ressources électroniques proposées par les <a href="http://analogist.couperin.org/platforms/">plate-formes Web des éditeurs de littérature scientifique</a>. Il se présente sous la forme d'une application Web disposant d'un formulaire et d'une <a href="/doc/routes.html">API</a> permettant l'ingestion manuelle et automatique des logs générées par les serveurs et proxy des établissements.</p>
        </div>

         <div class="ui segment">
          <div class="ui divided list">
            <div class="item">
              <i class="thumbs up outline large icon"></i>
              <div class="content">
                <div class="header">Un outil simple et efficace</div>
                <div class="description">Quelques clics suffisent à l'installer et à analyser vos logs.</div>
              </div>
            </div>
            <div class="item">
              <i class="chat outline large icon"></i>
              <div class="content">
                <div class="header">Une équipe disponible et réactive</div>
                <div class="description">
                  Un problème, une question, une suggestion ?<br/>Ça nous intéresse !
                  <span id="social">
                    <a ng-href="mailto:{{ contact.mail }}" popup data-variation="inverted" title="Ecrivez-nous à ezpaarse@couperin.org"><i class="tiny teal mail icon"></i></a>
                    <a ng-href="{{ contact.facebook }}" target="_blank" popup data-variation="inverted" title="Suivez-nous sur Facebook !"><i class="tiny facebook colored icon"></i></a>
                    <a ng-href="{{ contact.twitter }}" target="_blank" popup data-variation="inverted" title="Suivez-nous sur Twitter !"><i class="tiny twitter colored icon"></i></a>
                    <a ng-href="{{ contact.googleplus }}" target="_blank" popup data-variation="inverted" title="Suivez-nous sur Google+ !"><i class="tiny google plus colored icon"></i></a>
                  </span>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="users large icon"></i>
              <div class="content">
                <div class="header">Une communauté grandissante</div>
                <div class="description">Et pas seulement francophone !</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="column">

        <div class="slider-top-margin"></div>

        <ul bxslider>
          <li><img src="/assets/img/slider/pic10.jpg" title="La matière première : vos logs." /></li>
          <li><img src="/assets/img/slider/pic1.jpg" title="Qui peuvent être exploitées de cette manière !" /></li>
          <li><img src="/assets/img/slider/pic3.jpg" title="Glissez déposez vos fichiers de logs dans ezPAARSE pour les traiter" /></li>
          <li><img src="/assets/img/slider/pic2.jpg" title="Vos logs sont alors traitées en temps réel par ezPAARSE" /></li>
          <li><img src="/assets/img/slider/pic4.jpg" title="Vous êtes informés de l'état d'avancement du traîtement" /></li>
          <li><img src="/assets/img/slider/pic6.jpg" title="Il suffit de cliquer pour récupérer le résultat du traitement" /></li>
          <li><img src="/assets/img/slider/pic9.jpg" title="Le résultat contient de nombreuses informations" /></li>
          <li><img src="/assets/img/slider/pic5.jpg" title="De nombreuses plateformes d'éditeurs sont gérées par ezPAARSE" /></li>
          <li><img src="/assets/img/slider/pic7.jpg" title="Des renders LibreOffice et Excel sont disponibles pour une visualisation des résultats" /></li>
          <li><img src="/assets/img/slider/pic8.jpg" title="Exemple de rendu LibreOffice : nombre de consultation par revue" /></li>
        </ul>
      </div>
    </div>
  </div> <!-- container -->

  <% include form-login %>
  <% include form-register %>
