 <div id="container">
    <div class="ui center aligned segment">
      <p><img src="/assets/img/logo.png"/></p>
      <div class="ui small buttons">
        <div id="login-button" class="ui teal button">Connectez-vous</div>
        <div class="or" data-text="ou"></div>
        <div id="register-button" class="ui button">Enregistrez-vous</div>
      </div>
      <p>Enregistrez-vous avant de pouvoir traiter vos logs, c'est simple et rapide.<br/>Vous pourrez ensuite suivre vos traitements et communiquer plus facilement avec l'équipe ezPAARSE.</p>
    </div>

    <div class="ui two column page grid">
      <div class="column">
        <div class="ui huge purple center aligned header">
          ezPAARSE, c'est...
        </div>
        <div class="ui segment">
          <div class="ui header">Un outil simple et efficace</div>
          <p>Le plus souvent, quelques clics suffisent à analyser vos logs.</p>
        </div>
        <div class="ui segment">
          <div class="ui header">Une équipe disponible et réactive</div>
          <p>Un problème, une question, une suggestion ? Ça nous intéresse ! Vous pouvez nous joindre facilement par mail ou sur les réseaux sociaux.</p>
        </div>
        <div class="ui segment">
          <div class="ui header">Une communauté grandissante</div>
          <p>Et pas seulement francophone !</p>
        </div>
      </div>

      <div class="column">
        <ul ez-bxslider>
          <li><img src="/assets/img/slider/pic1.jpg" title="De nombreuses possibilités d'exploitation" /></li>
          <li><img src="/assets/img/slider/pic2.jpg" title="Des chiffres en temps réel" /></li>
        </ul>
      </div>
    </div>
  </div> <!-- container -->

  <% include form-login %>
  <% include form-register %>
  </form> <!-- register-modal -->