 <div id="container">
    <div class="ui center aligned segment">
      <div class="top-right">
        <select id="language-selector" ng-model="currentLanguage" ng-change="useLanguage(currentLanguage)">
          <option value="fr">Français</option>
          <option value="en">English</option>
        </select>
      </div>

      <p><img src="/assets/img/logo.png"/></p>

      <div ng-switch="noUsers" ng-controller="ConnectButtonsCtrl">
        <div ng-switch-when="undefined">
          <i class="loading icon"></i> {{ 'login+checking_users' | translate }}
        </div>

        <div class="ui small buttons" ng-switch-default>
          <div ez-toggle-modal="#login-modal" class="ui teal button" translate>login+signin</div>
          <div class="or" data-text="ou" ></div>
          <div ez-toggle-modal="#register-modal" class="ui button" translate>login+signup</div>
        </div>

        <div ng-switch-when="true">
          <div class="ui basic segment">
            <div class="ui compact success message">
              <div class="header"><i class="checkmark icon"></i>{{ 'login+install_successful' | translate }}</div>
              {{ 'login+set_admin_account' | translate }}
            </div>
          </div>
          <div ez-toggle-modal="#register-modal" class="ui button">Enregistrez-vous</div>
        </div>
      </div>
      <p translate>login+register_quick_and_easy</p>
    </div>

    <div class="ui two column page grid">
      <div class="column">
        <div class="ui huge center aligned header" translate="login+ezpaarse_is"></div>
        <div class="ui justified segment" translate translate-values='links'>login+ezpaarse_description</div>

         <div class="ui segment">
          <div class="ui divided list">
            <div class="item">
              <i class="thumbs up outline large icon"></i>
              <div class="content">
                <div class="header" translate>login+simple_tool</div>
                <div class="description" translate>login+few_clic_enough</div>
              </div>
            </div>
            <div class="item">
              <i class="chat outline large icon"></i>
              <div class="content">
                <div class="header" translate>login+responsive_team</div>
                <div class="description">
                  {{ 'login+problem_question' | translate }}
                  <br/>{{ 'login+interested' | translate }}
                  <span id="social">
                    <a ng-href="mailto:{{ contact.mail }}" popup data-variation="inverted" title="{{ 'social+mail' | translate:contact }}"><i class="tiny teal mail icon"></i></a>
                    <a ng-href="{{ contact.facebook }}" target="_blank" popup data-variation="inverted" title="{{ 'social+facebook' | translate }}"><i class="tiny facebook colored icon"></i></a>
                    <a ng-href="{{ contact.twitter }}" target="_blank" popup data-variation="inverted" title="{{ 'social+twitter' | translate }}"><i class="tiny twitter colored icon"></i></a>
                    <a ng-href="{{ contact.googleplus }}" target="_blank" popup data-variation="inverted" title="{{ 'social+googleplus' | translate }}"><i class="tiny google plus colored icon"></i></a>
                  </span>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="users large icon"></i>
              <div class="content">
                <div class="header" translate>login+growing_community</div>
                <div class="description" translate>login+not_only_fr</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="column">

        <div class="slider-top-margin"></div>

        <ul bxslider>
          <li><img src="/assets/img/slider/pic10.jpg" title="La matière première : vos logs." /></li>
          <li><img src="/assets/img/slider/pic1.jpg" title="Qui peuvent être exploitées de cette manière !" /></li>
          <li><img src="/assets/img/slider/pic3.jpg" title="Glissez déposez vos fichiers de logs dans ezPAARSE pour les traiter" /></li>
          <li><img src="/assets/img/slider/pic2.jpg" title="Vos logs sont alors traitées en temps réel par ezPAARSE" /></li>
          <li><img src="/assets/img/slider/pic4.jpg" title="Vous êtes informés de l'état d'avancement du traîtement" /></li>
          <li><img src="/assets/img/slider/pic6.jpg" title="Il suffit de cliquer pour récupérer le résultat du traitement" /></li>
          <li><img src="/assets/img/slider/pic9.jpg" title="Le résultat contient de nombreuses informations" /></li>
          <li><img src="/assets/img/slider/pic5.jpg" title="De nombreuses plateformes d'éditeurs sont gérées par ezPAARSE" /></li>
          <li><img src="/assets/img/slider/pic7.jpg" title="Des renders LibreOffice et Excel sont disponibles pour une visualisation des résultats" /></li>
          <li><img src="/assets/img/slider/pic8.jpg" title="Exemple de rendu LibreOffice : nombre de consultation par revue" /></li>
        </ul>
      </div>
    </div>
  </div> <!-- container -->
