    <div ng-controller="ProcessCtrl">
      <h2 class="ui header">
        {{ 'process+title' | translate }}
      </h2>
      <div class="ui segment" ng-switch="request.state">
        <div ng-switch-default translate>process+description</div>
        <div ng-switch-when="success" translate translate-compile>process+description_done</div>
      </div>

      <div ng-if="request.errorMessage" ng-bind="request.errorMessage" class="ui error message"></div>
      <div class="progress-header">
        <div>
          <div class="ui progress" ng-class="{'loading': 'teal active', 'finalisation': 'teal', 'success': 'green', 'error': 'failed'}[request.state]">
            <div class="bar" ng-style="{width: request.progress + '%'}" ng-switch on="request.state">
              <span ng-switch-default>{{ request.progress }}%</span>
              <span ng-switch-when="finalisation" translate>process+finalisation</span>
              <span ng-switch-when="success" translate>process+done</span>
              <span ng-switch-when="error" translate>process+error</span>
              <span ng-switch-when="aborted" translate>process+cancelled</span>
            </div>
          </div>
        </div>
        <div>
          <a ng-href="/{{ request.jobID }}" target="_blank" class="ui left labeled icon teal mini button" popup data-variation="inverted" title="{{ 'process+can_start_download' | translate }}"><i class="download disk icon"></i> {{ 'process+download' | translate }}</a>
          <div ng-show="inProgress()" ng-click="abort()" class="ui right labeled icon red mini button"><i class="basic cancel icon"></i> {{ 'process+cancel' | translate }}</div>
          <a href="/form" ng-hide="inProgress()" class="ui right labeled icon mini button"><i class="refresh icon"></i> {{ 'process+new' | translate }}</a>
        </div>
      </div>

      <div class="ui top attached tabular menu">
        <a class="item" ng-class="{true: 'active'}[tab=='metrics']" ng-click="selectTab('metrics')" translate>process+state</a>
        <a class="item" ng-class="{true: 'active'}[tab=='rejects']" ng-click="selectTab('rejects')" translate>process+rejects</a>
        <a class="item" ng-class="{true: 'active'}[tab=='traces']" ng-click="selectTab('traces')" translate>process+system_traces</a>
        <a class="item" ng-class="{true: 'active'}[tab=='report']" ng-click="selectTab('report')" translate>process+report</a>
      </div>
      <div class="ui bottom attached active tab segment" ng-switch on="tab">
        <div ng-switch-when="metrics" class="ui two column relaxed grid">
          <div class="column">
            <table class="ui basic table">
              <tr>
                <th translate>metrics+read_lines</th>
                <td class="right aligned" ng-bind="request.report.general['nb-lines-input'] | localNumber"></td>
              </tr>
              <tr>
                <th translate translate-compile>metrics+generated_ecs</th>
                <td class="right aligned" ng-bind="request.report.general['nb-ecs'] | localNumber"></td>
              </tr>
              <tr>
                <th translate>metrics+duration</th>
                <td class="right aligned" ng-bind="request.report.general['Job-Duration']"></td>
              </tr>
              <tr>
                <th translate>metrics+speed</th>
                <td class="right aligned" ng-bind="request.report.general['process-speed']"></td>
              </tr>
            </table>
          </div>

          <div class="column">
            <table class="ui basic table">
              <tr>
                <th translate>metrics+platforms_count</th>
                <td class="right aligned" ng-bind="request.report.stats['platforms'] | localNumber"></td>
              </tr>
              <tr>
                <th translate>metrics+html_count</th>
                <td class="right aligned" ng-bind="request.report.stats['mime-HTML'] | localNumber"></td>
              </tr>
              <tr>
                <th translate>metrics+pdf_count</th>
                <td class="right aligned" ng-bind="request.report.stats['mime-PDF'] | localNumber"></td>
              </tr>
            </table>
          </div>
        </div>

        <div ng-switch-when="rejects" class="ui grid">
          <div class="ui ten wide column">
            <table class="ui basic compact table">
              <tr ng-mouseenter="selectHelper('nb-lines-ignored')">
                <th translate>rejects+ignored_lines</th>
                <td class="right aligned">{{ request.report.rejets['nb-lines-ignored'] | localNumber}}</td>
                <td style="width: 150px;"></td>
              </tr>

              <tr ng-repeat="reject in request.rejects" ng-mouseenter="selectHelper(reject.key)">
                <th>{{ reject.title | translate }} <i class="attention red icon" ng-show="reject.percent > 25"></i></th>
                <td class="right aligned" ng-class="{true: 'bold'}[reject.percent > 25]">{{ reject.number | localNumber}}</td>
                <td><div class="ui warning progress"><div class="bar" style="width: {{reject.percent}}%"></div></div></td>
              </tr>

              <tfoot>
                <tr><th colspan="3" translate translate-values="{ nb: request.nbLines }" translate-compile>
                  rejects+relevant_lines
                </th></tr>
              </tfoot>
            </table>
          </div>

          <!-- Help section -->
          <div class="rejects-help six wide column" ng-switch on="helper">
            <div ng-switch-default>
              <p class="ui header"></p>
              <p class="inner" style="text-align: justify"><em>Survoler une catégorie pour voir sa description</em></p>
            </div>

            <div ng-switch-when="nb-lines-ignored">
              <p class="ui header" translate>rejects+ignored_lines</p>
              <p class="inner" style="text-align: justify" translate>rejects+ignored_lines_help</p>
            </div>
            <div ng-switch-when="nb-denied-ecs">
              <p class="ui header" translate>rejects+denied_ecs</p>
              <p class="inner" style="text-align: justify" translate>rejects+denied_ecs_help</p>
            </div>
            <div ng-switch-when="nb-lines-duplicate-ecs">
              <p class="ui header" translate>rejects+duplicates</p>
              <p class="inner" style="text-align: justify" translate>rejects+duplicates_help</p>
            </div>
            <div ng-switch-when="nb-lines-unordered-ecs">
              <p class="ui header" translate>rejects+chrono_anomalies</p>
              <p class="inner" style="text-align: justify" translate>rejects+chrono_anomalies_help</p>
            </div>
            <div ng-switch-when="nb-lines-ignored-domains">
              <p class="ui header" translate>rejects+ignored_domains</p>
              <p class="inner" style="text-align: justify" translate>rejects+ignored_domains_help</p>
            </div>
            <div ng-switch-when="nb-lines-unknown-domains">
              <p class="ui header" translate>rejects+unknown_domains</p>
              <p class="inner" style="text-align: justify" translate>rejects+unknown_domains_help</p>
            </div>
            <div ng-switch-when="nb-lines-unknown-format">
              <p class="ui header" translate>rejects+unknown_formats</p>
              <p class="inner" style="text-align: justify" translate>rejects+unknown_formats_help</p>
            </div>
            <div ng-switch-when="nb-lines-unqualified-ecs">
              <p class="ui header" translate>rejects+unqualified_ecs</p>
              <p class="inner" style="text-align: justify" translate>rejects+unqualified_ecs_help</p>
            </div>
            <div ng-switch-when="nb-lines-pkb-miss-ecs">
              <p class="ui header" translate>rejects+missing_pkbs</p>
              <p class="inner" style="text-align: justify" translate>rejects+missing_pkbs_help</p>
            </div>
          </div>
        </div>

        <div ng-switch-when="report">
          <p ng-show="request.jobID"><a ng-href="/report/{{ request.jobID }}" translate>report+view_full_page</a></p>
          <accordion class="ui accordion" ng-repeat="category in request.report | reportCategories">
            <div class="title" ng-class="{'active': $first}">
              <i class="dropdown icon"></i>
              {{ 'report+' + category | translate }}
            </div>

            <div class="content" ng-class="{'active': $first}">
              <table class="ui basic compact table">
                <tr ng-repeat="(key, val) in request.report | reportElements:category">
                  <th class="four wide">{{ key }}</th>
                  <td ng-bind-html="val | toLink:'_blank'"></td>
                </tr>
              </table>
            </div>
          </accordion>
        </div>

        <div class="ui inverted segment" ng-switch-when="traces">
          <div ng-repeat="log in request.logs track by $index" ng-bind="log"></div>
        </div>
      </div>
    </div>
