    <div ng-controller="ProcessCtrl">
      <h1 class="ui header">
        Traitement en cours
        <div class="sub header">Vos logs sont en cours d'analyse par ezPAARSE. Vous pouvez suivre en temps réel l'état d'avancement du traitement et l'évolution des différents types de rejets.</div>
      </h1>
      <div class="progress-header">
        <div>
          <div class="ui progress" ng-class="{true: 'blue active', false: 'green'}[request.progress < 100]">
            <div class="bar" ng-style="{width: request.progress + '%'}" ng-switch on="request.progress">
              <span ng-switch-default>{{ request.progress }}%</span>
              <span ng-switch-when="100">Terminé</span>
            </div>
          </div>
        </div>
        <div>
          <div class="ui left labeled attached icon positive mini button" data-content="Vous pouvez d'ores et déjà débuter le téléchargement."><i class="download disk icon"></i> Télécharger le résultat</div>
          <div class="ui right labeled attached icon red mini button"><i class="basic cancel icon"></i> Annuler</div>
        </div>
      </div>

      <div class="ui top attached tabular menu">
        <a class="active item" data-tab="metrics">État du traitement</a>
        <a class="item" data-tab="rejects">Rejets</a>
        <a class="item" data-tab="traces">Traces système</a>
        <a class="item" data-tab="report">Rapport</a>
      </div>
      <div class="ui bottom attached active tab segment" data-tab="metrics">
        <table class="ui basic collapsing table">
          <tr>
            <th>Lignes lues</th>
            <td>58402</td>
          </tr>
          <tr>
            <th>ECs générés</th>
            <td>1260</td>
          </tr>
          <tr>
            <th>Durée du traitement</th>
            <td>1m08s</td>
          </tr>
          <tr>
            <th>Vitesse</th>
            <td>5210 lignes/sec</td>
          </tr>
        </table>
      </div>
      <div class="ui bottom attached tab segment" data-tab="rejects">
        <div class="ui grid">
          <div class="ui ten wide column">

            <table class="rejects ui basic collapsing compact table">
              <tr ez-help="Nombre de requêtes non pertinentes. Il s'agit principalement de téléchargements d'images, css ou scripts web sans rapport direct avec une ressource. Dans un log brut, ce chiffre est souvent élevé.">
                <th>Lignes ignorées</th>
                <td>30400</td>
                <td style="width: 150px;"></td>
              </tr>
              <tr ez-help="Liste des accès qui ont été refusés à l'utilisateur au moment du clic. Exemple : tentative d'accès à un article non négocié dans le bouquet de l'établissement.">
                <th>ECs en accès refusé</th>
                <td>0</td>
                <td><div class="ui warning progress" data-content="0%"><div class="bar" style="width: 0%;"></div></div></td>
              </tr>
              <tr ez-help="Nombre de consultations ignorées car détectées comme des double-clics.">
                <th>Doublons filtrés</th>
                <td>1604</td>
                <td><div class="ui warning progress" data-content="6%"><div class="bar" style="width: 6%;"></div></div></td>
              </tr>
              <tr ez-help="Lignes ignorées en raison d'un mauvais ordre chronologique.">
                <th>Anomalies chronologiques</th>
                <td class="negative">16045</td>
                <td><div class="ui warning progress" data-content="60%"><div class="bar" style="width: 60%;"></div></div></td>
              </tr>
              <tr ez-help="Les domaines ignorés.">
                <th>Domaines ignorés</th>
                <td>0</td>
                <td><div class="ui warning progress" data-content="0%"><div class="bar" style="width: 0%;"></div></div></td>
              </tr>
              <tr ez-help="Les domaines inconnus.">
                <th>Domaines inconnus</th>
                <td>160</td>
                <td><div class="ui warning progress" data-content="1%"><div class="bar" style="width: 1%;"></div></div></td>
              </tr>
              <tr ez-help="Les formats inconnus.">
                <th>Formats inconnus</th>
                <td>16</td>
                <td><div class="ui warning progress" data-content="0%"><div class="bar" style="width: 0%;"></div></div></td>
              </tr>
              <tr ez-help="Les parseurs n'ont pas reconnu d'information documentaire dans les URL de ces lignes de log. Elles sont donc ignorées par ezPAARSE.">
                <th>ECs non qualifiés</th>
                <td>3208</td>
                <td><div class="ui warning progress" data-content="12%"><div class="bar" style="width: 12%;"></div></div></td>
              </tr>
              <tr ez-help="Les PKBs manquantes.">
                <th>PKBs manquantes</th>
                <td>0</td>
                <td><div class="ui warning progress" data-content="0%"><div class="bar" style="width: 0%;"></div></div></td>
              </tr>
              <tfoot>
                <tr><th colspan="3">
                  Les pourcentages sont basés sur le nombre de lignes de log pertinentes lues.
                </th></tr>
              </tfoot>
            </table>
          </div>

          <div class="rejects-help six wide column">
            <p class="ui header"></p>
            <p class="inner" style="text-align: justify"><em>Survoler une catégorie pour voir sa description</em></p>
          </div>
        </div>
      </div>
      <div class="ui bottom attached tab segment" data-tab="traces">
        <!-- PUT CONTENT HERE -->
      </div>
      <div class="ui bottom attached tab segment" data-tab="report">
        <!-- PUT CONTENT HERE -->
      </div>
    </div>
