    <div ng-controller="ProfileCtrl">
      <h2 class="ui header" translate>
        profile+title
      </h2>

      <form name="passwordForm" class="ui form segment" ng-class="{ error: prf.password.error }" ng-submit="prf.submitPassword(passwordForm.$valid)" novalidate>
        <h3 class="ui header" translate>profile+change_password</h3>
        <div class="three fields">
          <div class="field" ng-class="{'error': passwordForm.oldPassword.$invalid && !passwordForm.oldPassword.$pristine}">
            <label translate>profile+old_password</label>
            <div class="ui left labeled icon input">
              <i class="lock icon"></i>
              <input type="password" name="oldPassword" ng-model="prf.password.oldPassword" placeholder="{{ 'profile+old_password' | translate }}" required>
              <div class="ui corner label">
                <i class="icon asterisk"></i>
              </div>
            </div>
          </div>

          <div class="field" ng-class="{'error': passwordForm.newPassword.$invalid && !passwordForm.newPassword.$pristine}">
            <label translate>profile+new_password</label>
            <div class="ui left labeled icon input">
              <i class="lock icon"></i>
              <input type="password" name="newPassword" ng-model="prf.password.newPassword" placeholder="{{ 'profile+new_password' | translate }}" required>
              <div class="ui corner label">
                <i class="icon asterisk"></i>
              </div>
            </div>
          </div>

          <div class="field" ng-class="{'error': passwordForm.confirm.$invalid && !passwordForm.confirm.$pristine}">
            <label translate>profile+confirm</label>
            <div class="ui left labeled icon input">
              <i class="lock icon"></i>
              <input type="password" name="confirm" ng-model="prf.password.confirm" placeholder="{{ 'profile+confirm' | translate }}" required>
              <div class="ui corner label">
                <i class="icon asterisk"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <button type="submit" class="ui small button" translate>profile+submit</button>
          <i class="big loading icon" ng-show="prf.password.saving"></i>
          <i class="big green checkmark icon" ng-show="prf.password.success"></i>
        </div>

        <div class="ui small error message"><i class="big remove icon"></i>{{ (prf.password.error || '') | translate }}</div>
      </form>
    </div>
