    <div ng-controller="ReportCtrl">

      <h2 class="ui header">
        Rapport de traitement
        <div class="sub header" ng-show="report.general['Job-Date']">Réalisé le {{ report.general['Job-Date'] | date:'dd-MM-yyyy (HH:mm)' }}</div>
      </h2>

      <div class="ui no-print horizontal list">
        <div class="header item">Aller à :</div>
        <a ng-href="#{{ category }}" class="item" ng-repeat="category in report | reportCategories">{{ category }}</a>
        <a ng-href="#traces" class="item">traces</a>
      </div>

      <div ng-if="reportError" class="ui error message">
        <div class="header">
          Le rapport n'a pas pu être être récupéré.
        </div>
        <ul class="list">
          <li>Avez-vous précisé un identifiant ?</li>
          <li>Le traitement associé est-il récent ?</li>
        </ul>
      </div>
      <div ng-show="reportLoading"><i class="loading icon"></i> Chargement...</div>
      <div ng-repeat="category in report | reportCategories">
        <h3 id="{{ category }}" class="ui purple dividing header">
          {{ category }}
        </h3>

        <table class="ui basic compact table">
          <tr ng-repeat="(key, val) in report | reportElements:category">
            <th class="four wide">{{ key }}</th>
            <td>{{ val }}</td>
          </tr>
        </table>
      </div>

      <h3 id="traces" class="ui purple dividing header">
        Traces système
      </h3>
      <div class="ui terminal inverted segment">
        <div ng-show="tracesLoading"><i class="loading icon"></i> Chargement...</div>
        <div ng-show="tracesError"><i class="attention icon"></i> Impossible de récupérer les traces</div>
        <div ng-repeat="log in traces track by $index">
          <span ng-class="log.level" ng-bind="log.level"></span>: {{ log.message }}
        </div>
      </div>
    </div>
