{
  "extends": "eslint:recommended",
  "env": { "es6": true, "node": true },
  "rules": {
    "indent": [2, 2],
    "max-len": [2, 100, 2],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always" ],
    "comma-style": [2, "last"],
    "no-trailing-spaces": 2,
    "no-whitespace-before-property": 2,
    "no-nested-ternary": 2,
    "comma-spacing": [2, {"before": false, "after": true}],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "no-unneeded-ternary": [2, {"defaultAssignment": false}],
    "callback-return": [2, ["callback", "cb", "next"]],
    "global-require": 2,
    "no-path-concat": 2,
    "no-sync": 2,
    "no-var": 0,
    "no-throw-literal": 2,
    "no-sequences": 2,
    "no-else-return": 2,
    "prefer-arrow-callback": 0,
    "no-spaced-func": 2,
    "space-before-blocks": 2,
    "space-in-parens": [2, "never"],
    "keyword-spacing": 2,
    "block-spacing": [2, "always"],
    "strict": [2, "global"],
    "max-nested-callbacks": [1, 4],
    "camelcase": [1, {"properties": "always"}],
    "no-warning-comments": [1, { "terms": ["todo", "fixme"], "location": "anywhere" }],
    "prefer-template": 0,
    "yoda": 1
  }
}