body {
  color: #666666;
}

a {
 text-decoration: none;
}

#content {
  width: 80%;
  border: 1px solid #DADADA;
  padding: 10px;
  margin: 0 auto;
  position: relative;
}

#header {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.9em;
  color: #979797;
}
