<% include header %>
  <h2>Administration</h2>
  <p>Etat de la base de connaissances<br/>
    <button class="btn" id="pkb-status" title="mettre à jour la base">
      <i class="icon-refresh"></i> <span>inconnu</span>
    </button>
    <button class="btn" id="pkb-status-refresh" title="actualiser le statut de la base">
      <i class="icon-refresh"></i>
      <img src="/img/loader.gif" class="loader ninja" width="18" />
    </button>
  </p>
  <p>Etat des parseurs<br/>
    <button class="btn" id="parsers-status" title="mettre à jour les parseurs">
      <i class="icon-refresh"></i> <span>inconnu</span>
    </button>
    <button class="btn" id="parsers-status-refresh" title="actualiser le statut des parseurs">
      <i class="icon-refresh"></i>
      <img src="/img/loader.gif" class="loader ninja" width="18" />
    </button>
  </p>

  <form id="user-form" class="form-inline" method="POST" action="/users/">
    <fieldset>
      <legend>Ajouter un utilisateur</legend>
      <input type="text" id="username" name="username" placeholder="Identifiant">
      <input type="password" id="password" name="password" placeholder="Mot de passe">
      <button type="submit" id="submit" class="btn">Créer</button>
      <img src="/img/loader.gif" class="loader ninja" width="32" />
      <img src="/img/success-big.png" class="success-img ninja" width="32" />
      <div class="form-error" class="ninja" style="color: red"></div>
      <div class="form-success ninja" style="color: #0046AF">l'utilisateur a bien été ajouté</div>
    </fieldset>
  </form>
  <script src="/js/admin.js"></script>
<% include footer %>