      </div>
      <hr>
      <div class="footer">
        Visitez notre plateforme <a href="http://analogist.couperin.org/">AnalogIST</a> - Consultez la <a href="/doc">documentation</a> d'ezPAARSE
        <br/>ezPAARSE - Version: 1.1.0 - Propulsé par <a href="http://nodejs.org/" target="_blank">Node.js</a> et <a href="http://expressjs.com/" target="_blank">Express 3</a>
      </div>

    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/uuid.js"></script>
    <script src="/js/form.js"></script>
    <script src="/js/register.js"></script>
    <script src="/feedback/feedback.js"></script>
    <link rel="stylesheet" href="/feedback/feedback.min.css" />
    <script>
      (function () {
        $.feedback({
            ajaxURL: '/feedback',
            html2canvasURL: '/feedback/html2canvas.min.js',
            initialBox: true,
            postHTML: false,
            initButtonText: 'Feedback',
            tpl: {
              description:  '<div id="feedback-welcome"><div class="feedback-logo">Feedback</div><p>Vous souhaitez nous faire part de vos impressions sur <strong>ezPAARSE</strong> ? Utilisez ce formulaire pour rapporter un bug, suggérer une amélioration, ou simplement nous dire ce que vous pensez de ce service :)</p><p>Ecrivez ici votre remarque:</p><textarea id="feedback-note-tmp"></textarea><p>Vous pourrez ensuite identifier les zones de cette page en rapport avec votre remarque.</p><button id="feedback-welcome-next" class="feedback-next-btn feedback-btn-gray">Suivant</button><div id="feedback-welcome-error">Veuillez entrer une remarque.</div><div class="feedback-wizard-close"></div></div>',
              highlighter:  '<div id="feedback-highlighter"><div class="feedback-logo">Feedback</div><p>Utilisez le cliquer-déplacer pour nous aider à mieux comprendre votre remarque. Si cette fenêtre vous gène, vous pouvez la déplacer.</p><button class="feedback-sethighlight feedback-active"><div class="ico"></div><span>Surbrillance</span></button><label>Mettez en évidence les zones importantes.</label><button class="feedback-setblackout"><div class="ico"></div><span>Noir</span></button><label class="lower">Noircissez les éventuelles informations personnelles.</label><div class="feedback-buttons"><button id="feedback-highlighter-next" class="feedback-next-btn feedback-btn-gray">Suivant</button><button id="feedback-highlighter-back" class="feedback-back-btn feedback-btn-gray">Retour</button></div><div class="feedback-wizard-close"></div></div>',
              overview:   '<div id="feedback-overview"><div class="feedback-logo">Feedback</div><div id="feedback-overview-description"><div id="feedback-overview-description-text"><h3>Description</h3><h3 class="feedback-additional">Informations additionnelles</h3><div id="feedback-additional-none"><span>Aucune</span></div><div id="feedback-browser-info"><span>Informations sur le navigateur</span></div><div id="feedback-page-info"><span>Informations sur la page</span></div><div id="feedback-page-structure"><span>Structure de la page</span></div></div></div><div id="feedback-overview-screenshot"><h3>Capture d\'écran</h3></div><div class="feedback-buttons"><button id="feedback-submit" class="feedback-submit-btn feedback-btn-blue">Envoyer</button><button id="feedback-overview-back" class="feedback-back-btn feedback-btn-gray">Retour</button></div><div id="feedback-overview-error">Veuillez entrer une remarque.</div><div class="feedback-wizard-close"></div></div>',
              submitSuccess:  '<div id="feedback-submit-success"><div class="feedback-logo">Feedback</div><p>Merci pour votre retour ! Nous prendrons compte de votre remarque pour améliorer l\'experience de nos utilisateurs.</p><button class="feedback-close-btn feedback-btn-blue">OK</button><div class="feedback-wizard-close"></div></div>',
              submitError:  '<div id="feedback-submit-error"><div class="feedback-logo">Feedback</div><p>Malheureusement, une erreur est survenue durant l\'envoi de votre commentaire. Essayez de nouveau.</p><button class="feedback-close-btn feedback-btn-blue">OK</button><div class="feedback-wizard-close"></div></div>'
            }
        });

        $.ajax({
          url: "/datasets/",
          dataType: 'json'
        }).done(function (datasets) {
          var div = $('#local-files');
          for (var filename in datasets) {
            var content = '<span class="local-file" title="' + datasets[filename].location + '">';
            content += filename + '</span>';
            content += ' <span>(' + datasets[filename].size + ')</span><br />';
            div.append(content);
          }
          // $('#local-files span.local-file').on("click", localFileChosen);
        }).error(function () {
          $('#local-files').text('Le dossier local n\'a pas pu être parcouru.');
        });
      })();
    </script>
  </body>
</html>
