      </div>
      <hr>
      <div class="footer">
        ezPAARSE - Version: 0.0.6 - Propulsé par <a href="http://nodejs.org/" target="_blank">Node.js</a> et <a href="http://expressjs.com/" target="_blank">Express 3</a>
      </div>

    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/uuid.js"></script>
    <script src="/js/form.js"></script>
    <script>
      (function () {
        $.ajax({
          url: "/datasets/",
          dataType: 'json'
        }).done(function (datasets) {
          var div = $('#local-files');
          for (var filename in datasets) {
            var content = '<span class="local-file" title="' + datasets[filename].location + '">';
            content += filename + '</span>';
            content += ' <span>(' + datasets[filename].size + ')</span><br />';
            div.append(content);
          }
          // $('#local-files span.local-file').on("click", localFileChosen);
        }).error(function () {
          $('#local-files').text('Le dossier local n\'a pas pu être parcouru.');
        });
      })();
    </script>
  </body>
</html>
