      </div>
      <hr>
      <div class="footer">
        <%- __("footer+Visitez_notre_plateforme_%sAnalogIST%s", '<a href="http://analogist.couperin.org/">', '</a>') %> - <%- __("footer+Consultez_la_%sdocumentation%s_d'ezPAARSE", '<a href="/doc">', '</a>') %>
        <br/>ezPAARSE - <%= __("footer+Version") %>: 1.2.0 - <%- __("footer+Propulsé_par_%s_et_%s", '<a href="http://nodejs.org/" target="_blank">Node.js</a>', '<a href="http://expressjs.com/" target="_blank">Express 3</a>') %>
      </div>

    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/uuid.js"></script>
    <script src="/js/form.js"></script>
    <script src="/js/register.js"></script>
    <script src="/feedback/feedback.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
