      </div>
      <hr>
      <div class="footer">
        Visitez notre plateforme <a href="http://analogist.couperin.org/">AnalogIST</a> - Consultez la <a href="/doc">documentation</a> d'ezPAARSE
        <br/>ezPAARSE - Version: 1.1.0 - Propulsé par <a href="http://nodejs.org/" target="_blank">Node.js</a> et <a href="http://expressjs.com/" target="_blank">Express 3</a>
      </div>

    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/uuid.js"></script>
    <script src="/js/form.js"></script>
    <script src="/js/register.js"></script>
    <script src="/feedback/feedback.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
