  <div id="footer">
    ezPAARSE - Version: 0.0.6 - <a href="/doc/" target="_blank">Documentation</a> - <a href="http://analogist.couperin.org/" target="_blank">AnalogIST</a> - Propulsé par <a href="http://nodejs.org/" target="_blank">Node.js</a> et <a href="http://expressjs.com/" target="_blank">Express 3</a>
  </div>
  </body>
</html>