<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ezPAARSE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>
    <div class="container-narrow">
      <div class="header row-fluid">
        <div id="masthead" class="span8">
          <img src="/img/banner.jpg" alt="ezPAARSE" width="500"/>
        </div>
        <ul id="link-list" class="span4">
          <li class="link-container">
            <a href="mailto:ezpaarse@gmail.com" class="link-icon" title="Vontactez-nous par e-mail"><img src="/img/icon-mail.png" alt="icone mail"></a>
            <div class="link-text">Contactez-nous par <a href="mailto:ezpaarse@gmail.com" title="Contactez-nous par e-mail">e-mail</a></div>
          </li>
          <li class="link-container">
            <a href="http://analogist.couperin.org" class="link-icon" title="Visitez notre plateforme AnalogIST"><img src="/img/icon-analogist.png" alt="icone analogist"></a>
            <div class="link-text">Visitez notre plateforme <a href="http://analogist.couperin.org" title="Visitez notre plateforme AnalogIST">AnalogIST</a></div>
          </li>
          <li class="link-container">
            <a href="http://ezpaarse.analogist.couperin.org/doc" class="link-icon" title="Consultez la documentation d'ezPAARSE"><img src="/img/icon-ezpaarse.png" alt="icone ezpaarse"></a>
            <div class="link-text">Consultez la <a href="http://ezpaarse.analogist.couperin.org/doc" title="Consultez la documentation d'ezPAARSE">documentation d'ezPAARSE</a></div>
          </li>
          <li class="link-container">
            <a href="https://github.com/ezpaarse-project/ezpaarse" class="link-icon" title="Contribuez au projet ezPAARSE"><img src="/img/icon-github.png" alt="icone github"></a>
            <div class="link-text">Contribuez au <a href="https://github.com/ezpaarse-project/ezpaarse" title="Contribuez au projet ezPAARSE">projet ezPAARSE</a></div>
          </li>
          <li class="link-container">
            <a href="https://www.facebook.com/Ezpaarse" class="link-icon" title="Suivez-nous sur Facebook"><img src="/img/icon-facebook.png" alt="icone facebook"></a>
            <div class="link-text">Suivez-nous sur <a href="https://www.facebook.com/Ezpaarse" title="Suivez-nous sur Facebook">Facebook</a></div>
          </li>
          <li class="link-container">
            <a href="https://twitter.com/ezpaarse" class="link-icon" title="Suivez-nous sur Twitter"><img src="/img/icon-twitter.png" alt="icone Twitter"></a>
            <div class="link-text">Suivez-nous sur <a href="https://twitter.com/ezpaarse" title="Suivez-nous sur Twitter">Twitter</a></div>
          </li>
          <li class="link-container">
            <a href="https://plus.google.com/113684662646843807159" class="link-icon" title="Suivez-nous sur Google+"><img src="/img/icon-googleplus.png" alt="icone google+"></a>
            <div class="link-text">Suivez-nous sur <a href="https://plus.google.com/113684662646843807159" title="Suivez-nous sur Google+">Google+</a></div>
          </li>
        </ul>
      </div>
      <hr>
      <div class="content">