<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Votre application <%= title %> est lancée.</p>
    <p>Consultez <a href="/doc/" target="_self">la documentation</a> pour en apprendre plus.</p>
  </body>
</html>