<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>ezPAARSE propose un <a href="/ws/">Web service</a> pour traiter les logs.</li>
      <li>Consultez <a href="/doc/">la documentation</a> pour en apprendre plus.</li>
    </ul>
  </body>
</html>