<!DOCTYPE html>
<html ng-app="ezPAARSE">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>ezPAARSE</title>

  <link rel="stylesheet" type="text/css" href="/assets/components/semantic-ui/build/packaged/css/semantic.css">
  <link rel="stylesheet" type="text/css" href="/assets/components/bxslider-4-kallisto/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="/assets/chosen/chosen.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/app.css">

</head>
<body ng-controller="AppCtrl">
  <div class="wrapper" ui-view></div>

  <script src="/assets/components/jquery/dist/jquery.min.js"></script>
  <script src="/assets/components/bxslider-4-kallisto/jquery.bxslider.min.js"></script>
  <script src="/assets/components/node-uuid/uuid.js"></script>
  <script src="/assets/chosen/chosen.jquery.min.js"></script>
  <script src="/assets/components/semantic-ui/build/packaged/javascript/semantic.js"></script>
  <script src="/assets/components/angular/angular.min.js"></script>
  <script src="/assets/components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/assets/js/angular/app.js"></script>
  <script src="/assets/js/angular/services.js"></script>
  <script src="/assets/js/angular/controllers.js"></script>
  <script src="/assets/js/angular/directives.js"></script>
  <script src="/assets/js/angular/filters.js"></script>
</body>
</html>