<!DOCTYPE html>
<html ng-app="ezPAARSE">
<head>
  <base href="/">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>ezPAARSE</title>

  <link rel="stylesheet" type="text/css" href="/assets/components/semantic-ui/dist/semantic.css">
  <link rel="stylesheet" type="text/css" href="/assets/components/bxslider-4-kallisto/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="/assets/components/jreject/css/jquery.reject.css">
  <link rel="stylesheet" type="text/css" href="/assets/chosen/chosen.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/app.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/app-fixes.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/app-print.css" media="print">

</head>
<body ng-controller="AppCtrl">
  <div class="wrapper pusher" ui-view></div>

  <script src="/assets/components/jquery/dist/jquery.min.js"></script>
  <script src="/assets/components/jreject/js/jquery.reject.js"></script>
  <script>
    $(document).ready(function () {
      $.reject({
        reject: {
          msie: 9,
          chrome: 7,
          firefox: 4,
          opera: 12,
          safari: 4
        },
        display: ['firefox','chrome','opera','safari'],
        imagePath: '/assets/components/jreject/images/',
        header: "Saviez-vous que votre navigateur internet n'est pas à jour ?",
        paragraph1: "Pour pouvoir fonctionner correctement, ezPAARSE nécessite l'utilisation d'un navigateur récent. " +
                    "Vous trouverez ci-dessous une liste des navigateurs les plus populaires.",
        paragraph2: "Cliquez sur une icône pour vous rendre à la page de téléchargement.",
        close: true,
        closeMessage: "En fermant cette fenêtre, vous reconnaissez avoir conscience que votre expérience " +
                      "sur ce site pourrait être dégradée.",
        closeLink: 'Fermer cette fenêtre',
        closeCookie: true
      });
    });
  </script>
  <script src="/assets/components/bxslider-4-kallisto/jquery.bxslider.min.js"></script>
  <script src="/assets/components/node-uuid/uuid.js"></script>
  <script src="/assets/chosen/chosen.jquery.min.js"></script>

  <script src="/assets/components/semantic-ui/dist/semantic.js"></script>
  <script src="/assets/components/angular/angular.min.js"></script>
  <script src="/assets/components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/assets/components/angular-cookie/angular-cookie.min.js"></script>
  <script src="/assets/components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="/assets/components/angular-translate/angular-translate.min.js"></script>
  <script src="/assets/components/angular-chosen-localytics/chosen.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/components/angular-socket-io/socket.min.js"></script>

  <script src="/assets/locales/fr.js"></script>
  <script src="/assets/locales/en.js"></script>

  <script src="/logparser"></script>
  <script src="/assets/js/angular/app.js"></script>
  <script src="/assets/js/angular/services.js"></script>
  <script src="/assets/js/angular/controllers-main.js"></script>
  <script src="/assets/js/angular/controllers-form.js"></script>
  <script src="/assets/js/angular/controllers-process.js"></script>
  <script src="/assets/js/angular/controllers-anonymous.js"></script>
  <script src="/assets/js/angular/controllers-admin.js"></script>
  <script src="/assets/js/angular/controllers-profile.js"></script>
  <script src="/assets/js/angular/directives.js"></script>
  <script src="/assets/js/angular/filters.js"></script>


  <% include partials/form-login %>
  <% include partials/form-password-reset %>
  <% include partials/form-register %>
  <modal class="ui modal" ez-get-curl>
    <i class="close icon"></i>
    <div class="ui form content">
      <p class="justify aligned" translate>form+curl_instructions</p>

      <div class="field">
        <textarea class="ui input" ng-model="curl"></textarea>
      </div>
    </div>
  </modal>
</body>
</html>