<% include header %>

<% if (report) { %>
  <h1>Rapport d'exécution</h1>
  <table class="table table-bordered table-hover">
  <% for (var key in report) { %>
    <tr>
      <td><%= key %></td>
      <td><%= report[key] %></td>
    </tr>
  <% } %>
  </table>
<% } else { %>
  <p>Le rapport que vous recherchez n'existe pas.</p>
<% } %>

<% include footer %>