<% include header %>

<% if (report) { %>
  <table style="border:1px solid black;border-collapse:collapse;">
  <% for (var key in report) { %>
    <tr>
      <td style="border:1px solid black;"><%= key %></td>
      <td style="border:1px solid black;"><%= report[key] %></td>
    </tr>
  <% } %>
  </table>
<% } %>

<% include footer %>