        <div id="navigator-alert" class="text-center ninja">
          <h2>
            <%= __("ws-browser-alert+Votre_navigateur_n'est_pas_assez_récent_pour_utiliser_ezPAARSE.") %>
          </h2>
          <h2>
            <%= __("ws-browser-alert+Nous_vous_conseillons_d'utiliser_:") %>
          </h2>
          <div class="span2"></div>
          <div class="row-fluid">
            <div class="span3">
              <a href="http://www.google.fr/intl/fr/chrome/browser/">
                <h2>Chrome</h2>
                <img src="/img/chrome.jpg" alt="logo chrome">
              </a>
            </div>
            <div class="span1">
              <h2><%= __("ws-browser-alert+ou") %></h2>
            </div>
            <div class="span3">
              <a href="http://www.mozilla.org/fr/firefox/new/">
                <h2>Firefox</h2>
                <img src="/img/firefox.jpg" alt="logo firefox">
              </a>
            </div>
            <div class="span3"></div>
          </div>
        </div> <!-- navigator-alert -->