<!DOCTYPE html>
<html>
  <head>
    <title>ezPAARSE - Web service</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Web service d'ezPAARSE</h1>
    <p>Vous consultez la racine du web service d'ezPAARSE. Vous pouvez envoyer vos logs brutes sur cette même URL via la méthode HTTP POST ou via le <a href="/">formulaire Web d'upload</a>.</p>
  </body>
</html>