<% include header %>
        <form class="form-horizontal">
          <div class="row-fluid">
            <div class="accordion span6" id="pane-file-select">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#pane-file-select" href="#collapseOne">
                    Fichiers internes
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                  <div id="local-files" class="accordion-inner">
                    
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#pane-file-select" href="#collapseTwo">
                    Uploader un fichier
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <input type="file" />
                    <div class="dropbox">Glisser ici</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion span6" id="pane-options">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#pane-options" href="#collapseThree">
                    Options avancées
                  </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div class="control-group">
                      <label class="control-label" for="input-log-type">Type de log</label>
                      <div class="controls">
                        <select id="input-log-type">
                          <option value="auto" selected>Auto</option>
                          <option value="ezproxy">EZproxy</option>
                          <option value="apache">Apache</option>
                          <option value="squid">Squid</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-log-format">Format de log</label>
                      <div class="controls">
                        <input id="input-log-format" type="text" disabled />
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-log-compression">Compression du fichier</label>
                      <div class="controls">
                        <select id="input-log-compression">
                          <option value="none" selected>Aucune</option>
                          <option value="gzip">Gzip</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-result-format">Format du résultat</label>
                      <div class="controls">
                        <select id="input-result-format">
                          <option value="csv" selected>CSV</option>
                          <option value="json">JSON</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-result-compression">Compression du résultat</label>
                      <div class="controls">
                        <select id="input-result-compression">
                          <option value="none" selected>Aucune</option>
                          <option value="gzip">Gzip</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-traces">Traces</label>
                      <div class="controls">
                        <select id="input-traces">
                          <option value="error">Error</option>
                          <option value="debug">Debug</option>
                          <option value="warn">Warn</option>
                          <option value="info" selected>Info</option>
                          <option value="verbose">Verbose</option>
                          <option value="silly">Silly</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-output-fields">Champs en sortie</label>
                      <div class="controls">
                        <input id="input-output-fields" placeholder="Ex: host,login,date" type="text" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <input type="submit" class="btn" />
          </div>
        </form>
<% include footer %>