<!DOCTYPE html>
<html>
  <head>
    <title>ezPAARSE - Web service</title>
    <link rel='stylesheet' href="/stylesheets/style.css" type="text/css"/>
    <link rel='stylesheet' href="/stylesheets/uploadbox.css" type="text/css"/>
    <link rel="stylesheet" href="/SlickGrid/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="/SlickGrid/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/slick-custom.css" type="text/css"/>
  </head>
  <body>
    <h1>Web service d'ezPAARSE</h1>
    <p>Vous consultez la racine du web service d'ezPAARSE. Vous pouvez envoyer vos logs brutes sur cette même URL via la méthode HTTP POST ou via le formulaire Web d'upload.</p>

    <div id="bugs">
      <p><strong>Attention</strong>, ce formulaire n'est pas encore en version finale et peut être sujet à des bugs.</p>
    </div>

    <div id="uploadBox">
      <h2>Soumettre un fichier de log</h2>

      <div id="box1">
        <span id="uploadArea">
          <label for="inputFile">Sélectionnez un fichier: </label><input type="file" id="inputFile">
          <div id="dropBox">Ou glissez-le ici</div>
          <div id="fileInfo"></div>
          <div id="uploadWarning"></div>
        </span>
        <div id="infoArea"></div>
      </div>
      
      <div id="box2">
        <fieldset>
          <legend>Fichiers locaux</legend>
          <div id="localFiles"></div>
        </fieldset>
      </div>
      
      <div id="box3">
        <fieldset id="options">
          <legend>Options avancées</legend>
          <input id="streamRequest" type="checkbox" checked />
          <label for="streamRequest" class="tooltip">Traitement en streaming
          </label>
          <span class="tooltip">
            <img src="/img/help.png" />
            <span>Si coché, les données seront traitées au fil de leur réception et ne seront pas stockées sur le serveur. Sinon, elles seront d'abords récupérées et stockées avant de commencer le traitement.</span>
          </span><br />

          <input id="streamResponse" type="checkbox" checked />
          <label for="streamResponse">Résultats au fil de l'avancement</label>
          <span class="tooltip">
            <img src="/img/help.png" />
            <span>Si coché, le résultat généré par <strong>ezPAARSE</strong> ne sera pas stocké sur le serveur et apparaîtra dans le navigateur au fil du traitement. Sinon, il sera stocké et un lien de téléchargement sera envoyé à la fin du traitement.</span>
          </span><br /><br />

          <span class="tooltip">
            <img src="/img/help.png" />
            <span>Proxy à l'origine du fichier de log. Si précisé, le <strong>format de log</strong> doit être rempli. Dans le cas contraire, <strong>ezPAARSE</strong> tentera de reconnaître automatiquement le format des lignes.</span>
          </span>
          <label for="proxyName">Type de log</label>
          <select id="proxyName">
            <option></option>
            <option value="ezproxy">ezproxy</option>
            <option value="squid">squid</option>
            <option value="bibliopam">bibliopam</option>
          </select><br />

          <span class="tooltip">
            <img src="/img/help.png" />
            <span>Format utilisé pour la reconnaissance des lignes de log. Plus de détails <a href="/doc/formats.html" target="_blank">dans la documentation</a>.</span>
          </span>
          <label for="logFormat">Format de log</label>
          <input id="logFormat" type="text" value=''/><br />

          <span class="tooltip">
            <img src="/img/help.png" />
            <span>Format souhaité pour les données en sortie. Inutile si le résultat est récupéré en streaming.</span>
          </span>
          <label for="accept">Format de réponse
          </label>
          <select id="accept">
            <option value="text/csv">csv</option>
            <option value="application/json">json</option>
          </select><br />

          <span class="tooltip">
            <img src="/img/help.png" />
            <span>Type de compression du fichier à envoyer. (s'il est compressé)</span>
          </span>
          <label for="contentEncoding">Encodage du fichier
          </label>
          <select id="contentEncoding">
            <option></option>
            <option value="gzip">gzip</option>
            <option value="deflate">deflate</option>
          </select><br />

          <span class="tooltip">
            <img src="/img/help.png" />
            <span>Type de compression souhaité pour les données en sortie.</span>
          </span>
          <label for="acceptEncoding">Encodage de la réponse
          </label>
          <select id="acceptEncoding">
            <option></option>
            <option value="gzip">gzip</option>
            <option value="deflate">deflate</option>
          </select><br />
        </fieldset>
      </div>
      
      <div id="buttons">
        <button type='button' id="uploadButton" class='Button'>Envoyer</button>
        <button onClick="location.reload()">Remettre à zéro</button>
      </div>
    </div>

    <div id="resultBox"></div>

    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/SlickGrid/lib/jquery.event.drag-2.2.js"></script>
    <script type="text/javascript" src="/js/swfobject.js"></script>
    <script type="text/javascript" src="/SlickGrid/slick.core.js"></script>
    <script type="text/javascript" src="/SlickGrid/slick.grid.js"></script>
    <script type="text/javascript" src="/SlickGrid/slick.dataview.js"></script>
    <script type="text/javascript" src="/downloadify/js/swfobject.js"></script>
    <script type="text/javascript" src="/downloadify/js/downloadify.min.js"></script>
    <script type="text/javascript" src="/js/clarinet.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/uploadbox.js"></script>
  </body>
</html>