<% include header %>
        <div id="content-form">
          <div class="row-fluid">
            <form id="form" class="form-horizontal span6" enctype="multipart/form-data">
              <div class="accordion" id="pane-file-select">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#pane-file-select" href="#collapseOne">
                      <i id="iOne" class="icon-chevron-right"></i> Traiter des fichiers du serveur
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse">
                    <div id="local-files" class="accordion-inner">
                      
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#pane-file-select" href="#collapseTwo">
                      <i id="iTwo" class="icon-chevron-down"></i> Traiter vos fichiers de log
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse in">
                    <div class="accordion-inner">
                      <div id="classic-inputs">
                        <div class="single-input">
                          <button class="btn btn-danger btn-mini file-remove-button" title="remove"><i class="icon-remove icon-white"></i></button>
                          <input class='file-input' type="file" name="file" />
                        </div>
                      </div>
                      <div class="dropbox">Glisser ici</div>
                    </div>
                  </div>
                </div>
              </div>
            </form> <!-- form -->
            <div class="accordion form-horizontal span6" id="pane-options">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#pane-options" href="#collapseThree">
                    <i id="iThree" class="icon-chevron-right"></i> Options avancées
                  </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div class="control-group">
                      <label class="control-label" for="input-log-type">Type de log</label>
                      <div class="controls">
                        <select id="input-log-type" name="input-log-type">
                          <option value="" selected>Auto</option>
                          <option value="ezproxy">EZproxy</option>
                          <option value="apache">Apache</option>
                          <option value="squid">Squid</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-log-format">Format de log</label>
                      <div class="controls">
                        <textarea id="input-log-format" name="input-log-format" row="1" disabled></textarea>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-log-compression">Compression du fichier</label>
                      <div class="controls">
                        <select id="input-log-compression" name="input-log-compression">
                          <option value="" selected>Aucune</option>
                          <option value="gzip">Gzip</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-result-format">Format du résultat</label>
                      <div class="controls">
                        <select id="input-result-format" name="input-result-format">
                          <option value="text/csv" selected>CSV</option>
                          <option value="application/json">JSON</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-traces">Traces système</label>
                      <div class="controls">
                        <select id="input-traces" name="input-traces">
                          <option value="error">Error</option>
                          <option value="debug">Debug</option>
                          <option value="warn">Warn</option>
                          <option value="info" selected>Info</option>
                          <option value="verbose">Verbose</option>
                          <option value="silly">Silly</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-output-fields">Champs en sortie</label>
                      <div class="controls">
                        <input id="input-output-fields" placeholder="Ex: host,login,date" type="text"  name="input-output-fields"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="nofile-warn" class="alert alert-warning ninja">Vous devez sélectionner au moins un fichier.</div>
          <div id="ext-warn" class="alert alert-warning ninja">Attention : vous avez sélectionné des fichiers de formats différents, il se peut que certains ne soient pas traités correctement.</div>
          <div id="big-warn" class="alert alert-warning ninja">Les fichiers sélectionnés sont volumineux, le traitement peut être long.</div>
          <div class="text-center">
            <input type="submit" class="btn" value="Traiter" id="submit" />
          </div>
        </div><!-- form-content -->
        <div id="content-result" class="ninja">
          <div id="process-info" class="texte-center alert alert-info">
            Vos logs sont en cours de traitement mais vous pouvez déjà commencer à télécharger le résultat.
          </div>
          <div id="process-success" class="texte-center alert alert-success ninja">
            Le traitement de vos logs s'est terminé avec succès.
          </div>
          <div class="alert alert-error text-center ninja">
            Erreur : <span id="error"></span>
          </div>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%;">0%</div>
          </div>
          <div id="process-btns" class="text-center">
            <a href="" target="_blank" id="get-btn" class="btn btn-primary btn-large">Télécharger</a>
            <a href="" id="cancel-btn" class="btn">Annuler</a>
          </div>
          <div class="row-fluid">
            <div id="submitted-files" class="span6">
              <fieldset>
                <legend>Fichiers traités</legend>
                <ul></ul>
              </fieldset>
            </div>
            <div id="report" class="span6">
              <fieldset>
                <legend>État du traitement</legend>
                <table class="table table-bordered table-hover">
                  <tr><td>Lignes en entrée</td><td id="nb-lines-input"></td></tr>
                  <tr><td>ECs générés</td><td id="nb-ecs"></td></tr>
                  <tr><td>Taux de rejet</td><td id="rejection-rate"></td></tr>
                  <tr><td>Durée du traitement</td><td id="job-duration"></td></tr>
                  <tr><td>Vitesse du traitement</td><td id="process-speed"></td></tr>
                </table>
              </fieldset>
              <fieldset>
                <legend>Lignes de log ignorées</legend>
                <table class="table table-bordered table-hover">
                  <tr>
                    <td>Lignes ignorées</td>
                    <td id="nb-lines-ignored"></td></tr>
                  <tr>
                    <td><a class="link-lines-ignored-domains" target="_blank">Domaines ignorés</a></td>
                    <td>
                      <a class="link-lines-ignored-domains" target="_blank">
                        <span id="nb-lines-ignored-domains"></span>
                      </a></td>
                  </tr>
                  <tr>
                    <td><a class="link-lines-unknown-domains" target="_blank">Domaines inconnus</a></td>
                    <td>
                      <a class="link-lines-unknown-domains" target="_blank">
                        <span id="nb-lines-unknown-domains"></span>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><a class="link-lines-unknown-format" target="_blank">Formats inconnus</a></td>
                    <td>
                      <a class="link-lines-unknown-format" target="_blank">
                        <span id="nb-lines-unknown-format"></span>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><a class="link-lines-unqualified-ecs" target="_blank">ECs non qualifiés</a></td>
                    <td>
                      <a class="link-lines-unqualified-ecs" target="_blank">
                        <span id="nb-lines-unqualified-ecs"></span>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><a class="link-lines-pkb-miss-ecs" target="_blank">PKBs manquantes</a></td>
                    <td>
                      <a id="link-lines-pkb-miss-ecs" target="_blank">
                        <span id="nb-lines-pkb-miss-ecs"></span>
                      </a>
                    </td>
                  </tr>
                </table>
              </fieldset>
            </div>
          </div>
          <div id="result-btns" class="text-center">
            <a href="" target="_blank" id="report-btn" class="btn ninja">Rapport détaillé</a>
            <a href="" target="_blank" id="traces-btn" class="btn">Traces système</a>
            <a href="" target="_blank" id="reset-btn" class="btn ninja">Nouveau traitement</a>
          </div>
        </div><!-- result-content -->
<% include footer %>