/**
 * Semantic-ui fixes
 */

/**
 * Fix elements shifting during animations in chrome
 */
.no-translate {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

/* select styling */
.basic-select {
  /*display: block;*/
  height: auto;
  /*width: 100%;*/
  background: #FFF;
  border: 1px solid rgba(39, 41, 43, 0.15);
  border-radius: 0.2857rem;
  box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0) inset;
  padding: 0.62em 1em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
}
.basic-select:focus {
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(0, 0, 0, 0.2);
}

.ui.progress .bar {
  min-width: 0;
}

/**
 * Fix bxSlider
 */
.bx-wrapper {
  margin-top: 46px;
}
.bx-wrapper .bx-viewport ul {
  margin: 0;
}
.bx-wrapper .bx-controls-direction a {
  z-index: 999;
}
.bx-caption {
  left: -40px !important;
}
.bx-wrapper img {
  margin-left: -40px;
}