#sidebar {
  text-align: left;
  padding-left: 0;
  padding-right: 10px;
}
    
h2 {
  border-bottom: 2px solid #ccc;
  font-size: 24px;
  margin: 30px 0px 15px 0;
  padding-bottom: 7px;
}

h3 {
  font-size: 18px;
  margin: 25px 0px 10px 0;
  padding-bottom: 5px;
}

h4 {
  color: #888888;
  margin: 20px 15px 10px 5px;
}

p {
  margin: 15px 10px;
  text-align: justify;
}

code {
  overflow: auto;
  border: 1px solid #bbb;
  padding: 2px;
  background-color: #eee;
  font-size: 0.9em;
  border-radius: 2px;
}
