#doc-sidebar {
  float: left;
  width: 230px;
}
#doc-content {
  float: left;
  line-height: 1.4em;
  margin-left: -1px;
  padding: 0px 1px 20px 30px;
  width: 690px;
}
#doc-content h1 {
  font-size: 32px;
  line-height: 35px;
  margin: 15px 0 25px 0;
}
#doc-content h2 {
  border-bottom: 2px solid #ccc;
  font-size: 24px;
  margin: 30px 0px 15px 0;
  padding-bottom: 7px;
}
#doc-content h3 {
  font-size: 18px;
  margin: 25px 0px 10px 0;
  padding-bottom: 5px;
}
#doc-content h4 {
  color: #888888;
  margin: 20px 15px 10px 5px;
}
#doc-content p {
  margin: 15px 10px;
  text-align: justify;
}
#doc-content a {
  color: #d08708;
  text-decoration: none;
}
#doc-content a:hover {
  text-decoration: underline;
}
#doc-content ul,
#doc-content ol {
  list-style: disc;
  margin-left: 30px;
}
#doc-content ul li,
#doc-content ol li {
  margin: 5px 0;
}
#doc-content ol {
  list-style: decimal;
}
#doc-content pre {
  margin: 15px 0;
}
#doc-content code {
  overflow: auto;
  border: 1px solid #bbb;
  padding: 2px;
  background-color: #eee;
  font-size: 0.9em;
  border-radius: 2px;
}
#doc-content .note {
  background: #f3f3f3;
  border: 2px solid #ccc;
  padding: 5px;
  margin: 20px 0;
}
#doc-content .warning {
  background: #fdeeee;
  border: 2px solid #d24d4d;
  padding: 5px;
  margin: 20px 0;
}
#doc-content .tip {
  background: #fffbe2;
  border: 2px solid #e5cc24;
  padding: 5px;
  margin: 20px 0;
}
#doc-content img {
  max-width: 100%;
}
#doc-content table {
  width: 100%;
  margin: 20px auto;
}
#doc-content table th {
  color: #555;
  background: #efefef;
  padding: 4px;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
}
#doc-content table th:first-child {
  border-left: 0;
}
#doc-content table td {
  padding: 4px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
#doc-content table td:first-child {
  border-left: 0;
}
