body {
  padding-top: 20px;
  padding-bottom: 40px;
}

ul {
  list-style-type: none;
}

#banner {
  width: 400px;
}

#auth-status {
  font-size: 0.9em;
  margin: 0 0 -15px 0;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 960px;
}
.container-narrow > hr {
  margin: 15px 0;
  clear: both;
}

#link-list {
  margin-top: 25px;
  font-size: 0.9em;
}

.link-text {
  vertical-align: middle;
  display: inline;
  font-size: 1em;
}

.content {
  text-align: justify;
}

#collapseOne {
  padding-right: 3px;
}

#local-files {
  max-height: 150px;
  overflow-y: scroll;
}

.notALink {
  color: #333333;
}

.ninja {
  display: none;
}

textarea.code {
  text-align: left;
  padding: 2px 4px;
  color: #d14;
  width: 100%;
  resize: vertical;
  min-height: 50px;
  margin: 10px auto;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

#process-info {
  text-align: center;
}

#process-success {
  text-align: center;
}

#process-btns {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

#submitted-files > fieldset > ul {
  max-height: 220px;
  overflow-y: auto;
}

.table td.result-value {
  text-align: right;
}

#result-btns a {
  width: 150px;
  margin-right: 5px;
  margin-left: 5px;
}

.footer {
  text-align: center;
  font-size: 0.9em;
  color: #777;
}

/*-------------------------
  Dropbox
--------------------------*/

/*-------------------------
  tricks for FF (drag and drop pb)
  to be removed after file upload integration
--------------------------*/
@-moz-document url-prefix() {
  #dropbox { visibility: hidden; }
}


#dropbox {
  font-weight: bold;
  padding: 1em 0;
  margin: 1em 0;
  height: 200px;
  color: #555;
  line-height: 200px;
  text-align: center;
  border: 2px dashed #555;
  border-radius: 7px;
  cursor: default;
}

#dropbox.hover {
  border-style: solid;
  background-color: #E6E6E6;
}

.file-remove-button {
  float: right;
  margin-top: 4px;
}