<html><body style="color: #666666;"><div id="content" style="width: 80%; border: 1px solid #DADADA; padding: 10px; margin: 0 auto; position: relative; background-color: #FBFBFB;">
  <div id="header" style="text-align: right; font-size: 0.9em; color: #979797;">
    ezPAARSE - Réinitialisation de vote mot de passe
  </div>
    
  <h2>Vous avez demandé la réinitialisation de vote mot de passe.</h2>
  <p><strong>ATTENTION</strong></p>
  <p>Si vous n'avez pas demandé la réinitialisation de vote mot de passe, IGNOREZ et EFFACEZ ce courriel !</p>
  <p>Continuez uniquement si vous souhaitez réinitialiser votre mot de passe.</p>
  <br />
  <p>Cliquez ou copiez le lien ci-dessous et complétez le reste du formulaire :</p>
  <p><a href="<%= url %>" target="_blank"><%= url %></a></p>
</body></html>