<html><body style="color: #666666;"><div id="content" style="width: 80%; border: 1px solid #DADADA; padding: 10px; margin: 0 auto; position: relative; background-color: #FBFBFB;">
  <div id="header" style="text-align: right; font-size: 0.9em; color: #979797;">
    ezPAARSE - Resetting your password
  </div>
      
  <h2>You have requested a password reset.</h2>
  <p><strong>WARNING</strong></p>
  <p>If you did not request the reset of your password, IGNORE and DELETE this email!</p>
  <p>Continue only if you want to reset your password.</p>
  <br />
  <p>Click or copy the link below and complete the rest of the form :</p>
  <p><a href="<%= url %>" target="_blank"><%= url %></a></p>
</body></html>